In [3]:
import pandas as pd

In [9]:
df1 = pd.read_csv("freqs/j Mar18 joining Dec1 150.csv",index_col=0)
df2 = pd.read_csv("freqs/j Mar18 reparsed Dec1 150.csv",index_col=0)
# df3 = pd.read_csv("freqs/Dec1 30 3.csv",index_col=0)
# df2 = pd.read_csv("freqs/j Dec 18 750.csv")
# df3 = pd.read_csv("freqs/j Dec 2 450.csv")
# df4 = pd.read_csv("freqs/j Dec 22 675.csv")
# df5 = pd.read_csv("freqs/j Dec 3 450.csv")
# df6 = pd.read_csv("freqs/j Dec 5 750.csv")
# df7 = pd.read_csv("freqs/j Jan5 900.csv")
# df8 = pd.read_csv("freqs/j Jan5 600.csv")
# df9 = pd.read_csv("freqs/j Dec23 900.csv")
# df1 = pd.read_csv("freqs/Dec23 60 1.csv")
# df2 = pd.read_csv("freqs/Dec23 60 2.csv")
# df3 = pd.read_csv("freqs/Dec23 60 3.csv")
# df4 = pd.read_csv("freqs/Dec23 60 4.csv")
# df5 = pd.read_csv("freqs/Dec23 60 5.csv")
# df6 = pd.read_csv("freqs/Dec23 60 6.csv")
# df7 = pd.read_csv("freqs/Dec23 60 7.csv")
# df8 = pd.read_csv("freqs/Dec23 60 8.csv")
# df9 = pd.read_csv("freqs/Dec23 60 9.csv")
# df10 = pd.read_csv("freqs/Dec23 60 10.csv")
# df11 = pd.read_csv("freqs/Dec23 60 11.csv")
# df12 = pd.read_csv("freqs/Dec23 60 12.csv")
# df13 = pd.read_csv("freqs/Dec23 60 13.csv")
# df14 = pd.read_csv("freqs/Dec23 60 14.csv")
# df15 = pd.read_csv("freqs/Dec23 60 15.csv")

In [10]:
df1

,The car brand Jeep is similar to,The car brand Subaru is similar to,The car brand Dodge is similar to,The car brand Tesla is similar to,The car brand Toyota is similar to,The car brand Honda is similar to,The car brand Nissan is similar to,The car brand Chevrolet is similar to,The car brand Hyundai is similar to,The car brand Mazda is similar to,...,The car brand Lamborghini is similar to,The car brand Mercedes-Benz is similar to,The car brand BMW is similar to,The car brand Ford is similar to,The car brand Porsche is similar to,The car brand Audi is similar to,The car brand Volkswagen is similar to,The car brand Ferrari is similar to,The car brand Lexus is similar to,The car brand Volvo is similar to
Jeep,73,0,11,3,3,2,2,0,6,6,...,3,4,1,6,1,2,1,8,0,0
Subaru,1,83,0,0,3,1,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Dodge,4,0,69,0,1,0,0,0,0,2,...,0,0,0,0,1,0,0,0,0,0
Tesla,3,3,0,79,6,3,7,9,11,4,...,7,10,6,8,10,11,8,5,4,9
Toyota,10,24,9,1,76,28,20,10,10,12,...,5,7,7,12,6,6,13,3,20,7
Honda,1,14,5,1,14,76,7,4,6,11,...,1,1,7,2,3,3,3,2,11,3
Nissan,2,5,6,2,5,10,78,3,7,4,...,2,1,1,2,3,1,6,3,2,1
Chevrolet,4,1,14,1,0,2,4,53,3,1,...,0,2,1,7,1,8,7,4,3,1
Hyundai,0,3,1,1,8,4,1,3,65,2,...,0,0,0,2,1,1,0,1,2,1
Mazda,1,3,0,1,1,5,2,1,1,70,...,0,0,1,1,0,1,3,0,0,0
Renault,0,0,0,0,1,0,3,1,1,0,...,1,1,1,1,0,2,2,5,2,0
Lamborghini,0,0,2,0,0,1,0,0,1,0,...,78,1,2,0,1,0,1,2,0,1
Mercedes-Benz,7,5,13,16,10,18,14,7,11,11,...,16,60,39,13,18,31,18,30,23,14
BMW,4,20,16,36,18,11,14,6,16,10,...,6,27,73,22,17,30,15,21,31,15
Ford,53,19,49,13,26,18,20,56,27,39,...,10,8,9,76,12,6,28,10,15,35
Porsche,0,3,7,5,2,3,3,0,5,1,...,5,8,7,4,77,16,7,13,9,6
Audi,1,0,4,4,3,4,2,0,7,5,...,4,7,8,4,11,63,17,3,10,4
Volkswagen,5,22,8,17,16,7,19,8,19,9,...,5,13,9,17,15,11,62,9,8,4
Ferrari,0,2,1,1,4,6,4,4,6,1,...,43,4,7,1,16,6,1,69,5,0
Lexus,2,1,1,0,2,2,0,2,2,0,...,0,2,1,1,0,1,1,0,74,0
Volvo,1,0,1,0,1,1,3,2,2,2,...,0,2,0,2,0,0,0,0,0,69

In [11]:
joined=df1-df2

In [12]:
joined

,The car brand Jeep is similar to,The car brand Subaru is similar to,The car brand Dodge is similar to,The car brand Tesla is similar to,The car brand Toyota is similar to,The car brand Honda is similar to,The car brand Nissan is similar to,The car brand Chevrolet is similar to,The car brand Hyundai is similar to,The car brand Mazda is similar to,...,The car brand Lamborghini is similar to,The car brand Mercedes-Benz is similar to,The car brand BMW is similar to,The car brand Ford is similar to,The car brand Porsche is similar to,The car brand Audi is similar to,The car brand Volkswagen is similar to,The car brand Ferrari is similar to,The car brand Lexus is similar to,The car brand Volvo is similar to
Jeep,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Subaru,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Dodge,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Tesla,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Toyota,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Honda,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
Nissan,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Chevrolet,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Hyundai,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Mazda,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Renault,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Lamborghini,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Mercedes-Benz,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
BMW,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Ford,0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
Porsche,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
Audi,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Volkswagen,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
Ferrari,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Lexus,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Volvo,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
joined.to_csv("freqs/j Mar18 old diff new Dec1 90.csv")

In [16]:
40*15

600

In [36]:
df1.shape

(21, 23)