In [2]:
import pandas as pd

In [6]:
data = pd.read_csv("OpenEndedBeers_April21.csv")

In [9]:
data.columns

Index(['StartDate', 'EndDate', 'Status', 'IPAddress', 'Progress',
       'Duration (in seconds)', 'Finished', 'RecordedDate', 'ResponseId',
       'RecipientLastName', 'RecipientFirstName', 'RecipientEmail',
       'ExternalReference', 'LocationLatitude', 'LocationLongitude',
       'DistributionChannel', 'UserLanguage', 'budL', 'coorsL', 'bud', 'cor',
       'guin', 'hei', 'stel', 'blu', 'pbr', 'mil', 'sam', 'dos', 'mic', 'rol',
       'red', 'mlite', 'pil', 'snb', 'id', 'PROLIFIC_PID'],
      dtype='object')

In [15]:
def median_split(data, i):
    split = len(data)//2
    ordered = data.sort_values(by = i)
    return ordered.iloc[:split], ordered.iloc[split+1:]

In [13]:
beer_aliases = [
        ["Bud Light", "budlight"],
        ["Coors Light",	"coors"],
        ["Budweiser",	"bud",	"budwiser"],
["Corona Extra",	"corona"],
["Guinness"],		
["Heineken",	"heineken light"],	
["Stella Artois"],		
["Blue Moon"],	
["Pabst Blue Ribbon",	"PBR"],
["Miller High Life"],		
["Sam Adams",	"Samuel Adams"],
["Dos Equis"],	
["Michelob Ultra",	"michelob light"],
["Rolling Rock"	],	
["Red Stripe"],		
["Miller Lite"],	
["Pilsner Urquell",	"pilsner"],	
["Sierra Nevada Brewing",	"Sierra Nevada"]
]

In [14]:
beer_aliases

[['Bud Light', 'budlight'],
 ['Coors Light', 'coors'],
 ['Budweiser', 'bud', 'budwiser'],
 ['Corona Extra', 'corona'],
 ['Guinness'],
 ['Heineken', 'heineken light'],
 ['Stella Artois'],
 ['Blue Moon'],
 ['Pabst Blue Ribbon', 'PBR'],
 ['Miller High Life'],
 ['Sam Adams', 'Samuel Adams'],
 ['Dos Equis'],
 ['Michelob Ultra', 'michelob light'],
 ['Rolling Rock'],
 ['Red Stripe'],
 ['Miller Lite'],
 ['Pilsner Urquell', 'pilsner'],
 ['Sierra Nevada Brewing', 'Sierra Nevada']]

In [10]:
car_columns = [
    "budL",
    "coorsL",
    "bud",
    "cor",
    "guin",
    "hei",
    "stel",
    "blu",
    "pbr",
    "mil",
    "sam",
    "dos",
    "mic",
    "rol",
    "red",
    "mlite",
    "pil",
    "snb"
]

In [16]:
def column_count(data, aliases, prompt):
    alias_pattern = ""
    for i in aliases:
        alias_pattern += i
        alias_pattern += "|"
    alias_pattern = alias_pattern[:-1]   
    series = data[prompt].str.contains(alias_pattern)
    if True in series.unique():
        return series.value_counts()[True]
    return 0

In [17]:
def make_freq_table(data):
    counts = [[] for i in range(len(car_columns))]
    brands = []
    for aliases in beer_aliases:
        brands.append(aliases[0])
        for i,prompt in zip(list(range(len(car_columns))), car_columns):
            count = column_count(data, aliases,prompt)
            counts[i].append(count)
    d = dict()
    d["brand"] = brands
    for i,j in zip(car_columns, counts):
        d[i] = j
    df = pd.DataFrame(data=d)
    return df

In [22]:
freq_table = make_freq_table(data)
freq_table

,brand,budL,coorsL,bud,cor,guin,hei,stel,blu,pbr,mil,sam,dos,mic,rol,red,mlite,pil,snb
0,Bud Light,0,2,3,1,0,1,0,1,0,0,0,0,0,1,1,1,0,0
1,Coors Light,4,0,3,0,0,0,0,0,2,0,0,0,0,1,0,1,0,0
2,Budweiser,4,2,0,3,0,3,0,1,2,1,0,1,0,0,4,1,2,0
3,Corona Extra,0,0,2,0,0,2,0,0,1,3,1,0,0,0,3,0,1,0
4,Guinness,0,0,0,0,2,2,0,0,0,0,0,0,1,0,0,0,0,0
5,Heineken,3,0,3,0,1,0,3,1,0,0,1,2,0,4,0,2,1,0
6,Stella Artois,0,1,0,0,1,2,0,0,0,1,1,0,0,0,2,0,1,1
7,Blue Moon,0,0,0,0,0,1,0,1,1,0,1,0,0,0,0,1,0,0
8,Pabst Blue Ribbon,0,1,1,1,0,0,0,2,0,0,1,0,0,0,0,2,1,0
9,Miller High Life,0,0,0,0,0,0,1,0,0,0,0,0,0,1,2,0,0,1
10,Sam Adams,0,0,0,1,0,0,1,1,1,0,0,0,0,0,0,0,1,0
11,Dos Equis,0,0,0,0,0,0,1,0,0,0,0,0,2,0,0,0,0,0
12,Michelob Ultra,0,1,0,0,1,0,0,0,0,0,0,2,0,0,0,0,0,1
13,Rolling Rock,1,1,0,0,0,3,0,1,1,1,0,0,0,1,2,1,0,1
14,Red Stripe,0,0,0,1,0,0,3,0,0,2,0,0,0,1,0,0,2,0
15,Miller Lite,0,1,0,0,0,1,0,1,2,0,0,0,0,1,0,0,1,0
16,Pilsner Urquell,0,0,1,0,0,0,1,0,0,0,1,0,1,0,1,0,0,1
17,Sierra Nevada Brewing,0,1,0,0,0,0,0,0,0,1,0,0,1,1,1,0,0,1

In [19]:
def most_similar(df):
    return df.set_index("brand").idxmax(axis =1)
most_similar(freq_table)

brand
Bud Light                   bud
Coors Light                budL
Budweiser                  budL
Corona Extra                mil
Guinness                   guin
Heineken                    rol
Stella Artois               hei
Blue Moon                   hei
Pabst Blue Ribbon           blu
Miller High Life            red
Sam Adams                   cor
Dos Equis                   mic
Michelob Ultra              dos
Rolling Rock                hei
Red Stripe                 stel
Miller Lite                 pbr
Pilsner Urquell             bud
Sierra Nevada Brewing    coorsL
dtype: object

In [20]:
#brand# #low inc# #high# #same?#
def similarity_table(df_low, df_high):
    low = most_similar(df_low)
    high = most_similar(df_high)
    pd_dict = {"Low":low, "High":high}
    df =  pd.DataFrame(pd_dict)
    df["Low"] = df["Low"].str.split().str[0]
    df["High"] = df["High"].str.split().str[0]
    df["equal"] = df["Low"] == df["High"]
    return df

NameError: name 'lower_income_counts' is not defined

In [59]:
def diff_only(sim_table):
    df = sim_table[~sim_table["equal"]]
    return df.drop(columns=["equal"])

In [60]:
income_diff = diff_only(income_similarity)
age_diff = diff_only(age_similarity)

In [61]:
income_diff

                   Low        High
brand
Jeep             Dodge      Subaru
Subaru           Volvo       Mazda
Dodge             Jeep        Ford
Tesla             audi       Tesla
Mazda            Honda      Subaru
Renault        Renault  Volkswagen
Porsche    Lamborghini     Ferrari
Lexus    Mercedes-Benz        audi

In [62]:
age_diff

                 Low           High
brand
Jeep           Dodge         Subaru
Subaru         Mazda     Volkswagen
Dodge           Jeep           Ford
Tesla          Lexus          Tesla
Hyundai       Nissan        Hyundai
Mazda         Subaru         Nissan
Renault      Renault     Volkswagen
Porsche  Lamborghini        Ferrari
Lexus           audi  Mercedes-Benz
Volvo     Volkswagen           audi