In [1]:
import pandas as pd

In [7]:
# df_1 = pd.read_csv("freqs/b Feb24 200 1.csv").set_index("Unnamed: 0")
# df_2 = pd.read_csv("freqs/b Feb24 200 2.csv").set_index("Unnamed: 0")
# df_3 = pd.read_csv("freqs/b Feb24 200 3.csv").set_index("Unnamed: 0")
# df_4 = pd.read_csv("freqs/b Feb24 200 4.csv").set_index("Unnamed: 0")
# df_5 = pd.read_csv("freqs/b Feb24 200 5.csv").set_index("Unnamed: 0")
# df_6 = pd.read_csv("freqs/b Feb24 200 6.csv").set_index("Unnamed: 0")
# df_7 = pd.read_csv("freqs/b Feb24 200 7.csv").set_index("Unnamed: 0")
# df_8 = pd.read_csv("freqs/b Feb24 200 8.csv").set_index("Unnamed: 0")
# df_9 = pd.read_csv("freqs/b Feb24 200 9.csv").set_index("Unnamed: 0")
# df_10 = pd.read_csv("freqs/b Feb24 200 10.csv").set_index("Unnamed: 0")
# df_11 = pd.read_csv("freqs/b Feb24 200 11.csv").set_index("Unnamed: 0")
# df_12 = pd.read_csv("freqs/b Feb24 200 12.csv").set_index("Unnamed: 0")
# df_13 = pd.read_csv("freqs/b Feb24 200 13.csv").set_index("Unnamed: 0")
# df_14 = pd.read_csv("freqs/b Feb24 200 14.csv").set_index("Unnamed: 0")
# df_15 = pd.read_csv("freqs/b Feb24 200 15.csv").set_index("Unnamed: 0")

# df = pd.read_csv("freqs/jb Feb 23 3500.csv").set_index("Unnamed: 0")

df1 = pd.read_csv("raw_text/b Feb23 250 1.csv", index_col=0)
df2 = pd.read_csv("raw_text/b Feb23 250 2.csv", index_col=0)
df3 = pd.read_csv("raw_text/b Feb23 250 3.csv", index_col=0)
df4 = pd.read_csv("raw_text/b Feb23 250 4.csv", index_col=0)

In [8]:
df4

                          The beer brand is similar to
0     the beer styles that have been popularized by...
1     the popular Red Bull, but has a lighter flavo...
2     the popular German beer Pilsner Urquell.\n\nT...
3     the one that sold the original Prince of Pers...
4     Budweiser, which was acquired by Anheuser-Bus...
..                                                 ...
245   the popular Heineken brand.\n\nThe brewery's ...
246   the popular Cider House brand, which is owned...
247   the "Pardon The Interruption" beer, which was...
248   the popular Budweiser beer, but with a more c...
249   the famous beer that was brewed by the German...

[250 rows x 1 columns]

In [11]:
# joined = df+df_1+df_2+df_3+df_4+df_5+df_6+df_7+df_8+df_9+df_10+df_11+df_12+df_13+df_14+df_15
joined = pd.concat([df1, df2, df3, df4], ignore_index=True)

In [12]:
joined

                          The beer brand is similar to
0     the famous German brew Kölsch, which is brewe...
1     the way I drink beer with my friends and fami...
2     Coors Light, which was founded in 1876.\n\nTh...
3     the ones that were popular in the mid-1990s a...
4     the brand of the same name, which is the worl...
..                                                 ...
995   the popular Heineken brand.\n\nThe brewery's ...
996   the popular Cider House brand, which is owned...
997   the "Pardon The Interruption" beer, which was...
998   the popular Budweiser beer, but with a more c...
999   the famous beer that was brewed by the German...

[1000 rows x 1 columns]

In [17]:
12*250 + 500

3500

In [13]:
joined.to_csv("raw_text/jb Feb23 1000.csv")