In [1]:
import pandas as pd

In [12]:
df1 = pd.read_csv("freqs/b Feb22 100 1.csv").set_index("Unnamed: 0")
df2 = pd.read_csv("freqs/b Feb22 100 2.csv").set_index("Unnamed: 0")
df3 = pd.read_csv("freqs/b Feb22 100 3.csv").set_index("Unnamed: 0")
df4 = pd.read_csv("freqs/b Feb22 100 4.csv").set_index("Unnamed: 0")
df5 = pd.read_csv("freqs/b Feb22 100 5.csv").set_index("Unnamed: 0")

df_1 = pd.read_csv("freqs/b Feb23 250 1.csv").set_index("Unnamed: 0")
df_2 = pd.read_csv("freqs/b Feb23 250 2.csv").set_index("Unnamed: 0")
df_3 = pd.read_csv("freqs/b Feb23 250 3.csv").set_index("Unnamed: 0")
df_4 = pd.read_csv("freqs/b Feb23 250 4.csv").set_index("Unnamed: 0")
df_5 = pd.read_csv("freqs/b Feb23 250 5.csv").set_index("Unnamed: 0")
df_6 = pd.read_csv("freqs/b Feb23 250 6.csv").set_index("Unnamed: 0")
df_7 = pd.read_csv("freqs/b Feb23 250 7.csv").set_index("Unnamed: 0")
df_8 = pd.read_csv("freqs/b Feb23 250 8.csv").set_index("Unnamed: 0")
df_9 = pd.read_csv("freqs/b Feb23 250 9.csv").set_index("Unnamed: 0")
df_10 = pd.read_csv("freqs/b Feb23 250 10.csv").set_index("Unnamed: 0")
df_11 = pd.read_csv("freqs/b Feb23 250 11.csv").set_index("Unnamed: 0")
df_12 = pd.read_csv("freqs/b Feb23 250 12.csv").set_index("Unnamed: 0")

In [14]:
df_5

                      The beer brand is similar to
Unnamed: 0
Blue Moon                                        4
Bud Ice                                          0
Bud Light                                       13
Budweiser                                       47
Busch                                           10
Busch Light                                      0
Coors Banquet                                    0
Coors Light                                     11
Corona Extra                                     0
Corona Light                                     0
Dos Equis                                        0
Guiness                                          0
Heineken                                         5
Keystone Light                                   0
Michelob Ultra                                   0
Miller High Life                                 0
Miller Lite                                      4
Milwaukee's Best Ice                             0
Modelo Especial                                  0
Natural Ice                                      0
Natural Light                                    0
Pabst Blue Ribbon                                4
Red Stripe                                       0
Rolling Rock                                     0
Sam Adams                                        0
Steel Reserve                                    0
Stella Artois                                    3
Yeungling Lager                                  0

In [15]:
joined = df1+df2+df3+df4+df5+df_1+df_2+df_3+df_4+df_5+df_6+df_7+df_8+df_9+df_10+df_11+df_12

In [16]:
joined

                      The beer brand is similar to
Unnamed: 0
Blue Moon                                       38
Bud Ice                                          0
Bud Light                                      162
Budweiser                                      602
Busch                                          198
Busch Light                                      0
Coors Banquet                                    0
Coors Light                                    171
Corona Extra                                    10
Corona Light                                     3
Dos Equis                                        0
Guiness                                          0
Heineken                                        89
Keystone Light                                   0
Michelob Ultra                                   1
Miller High Life                                 3
Miller Lite                                     65
Milwaukee's Best Ice                             0
Modelo Especial                                  0
Natural Ice                                      0
Natural Light                                    0
Pabst Blue Ribbon                               53
Red Stripe                                       0
Rolling Rock                                     0
Sam Adams                                        5
Steel Reserve                                    0
Stella Artois                                   88
Yeungling Lager                                  0

In [17]:
12*250 + 500

3500

In [18]:
joined.to_csv("freqs/jb Feb 23 3500.csv")