In [1]:
import pandas as pd

In [5]:
df_1 = pd.read_csv("freqs/b Feb24 200 1.csv").set_index("Unnamed: 0")
df_2 = pd.read_csv("freqs/b Feb24 200 2.csv").set_index("Unnamed: 0")
df_3 = pd.read_csv("freqs/b Feb24 200 3.csv").set_index("Unnamed: 0")
df_4 = pd.read_csv("freqs/b Feb24 200 4.csv").set_index("Unnamed: 0")
df_5 = pd.read_csv("freqs/b Feb24 200 5.csv").set_index("Unnamed: 0")
df_6 = pd.read_csv("freqs/b Feb24 200 6.csv").set_index("Unnamed: 0")
df_7 = pd.read_csv("freqs/b Feb24 200 7.csv").set_index("Unnamed: 0")
df_8 = pd.read_csv("freqs/b Feb24 200 8.csv").set_index("Unnamed: 0")
df_9 = pd.read_csv("freqs/b Feb24 200 9.csv").set_index("Unnamed: 0")
df_10 = pd.read_csv("freqs/b Feb24 200 10.csv").set_index("Unnamed: 0")
df_11 = pd.read_csv("freqs/b Feb24 200 11.csv").set_index("Unnamed: 0")
df_12 = pd.read_csv("freqs/b Feb24 200 12.csv").set_index("Unnamed: 0")
df_13 = pd.read_csv("freqs/b Feb24 200 13.csv").set_index("Unnamed: 0")
df_14 = pd.read_csv("freqs/b Feb24 200 14.csv").set_index("Unnamed: 0")
df_15 = pd.read_csv("freqs/b Feb24 200 15.csv").set_index("Unnamed: 0")

df = pd.read_csv("freqs/jb Feb 23 3500.csv").set_index("Unnamed: 0")

In [7]:
df_15

                      The beer brand is similar to
Unnamed: 0
Blue Moon                                        3
Bud Ice                                          0
Bud Light                                        7
Budweiser                                       30
Busch                                           10
Busch Light                                      0
Coors Banquet                                    0
Coors Light                                     11
Corona Extra                                     2
Corona Light                                     0
Dos Equis                                        0
Guiness                                          0
Heineken                                         4
Keystone Light                                   0
Michelob Ultra                                   0
Miller High Life                                 1
Miller Lite                                      6
Milwaukee's Best Ice                             0
Modelo Especial                                  0
Natural Ice                                      0
Natural Light                                    0
Pabst Blue Ribbon                                1
Red Stripe                                       0
Rolling Rock                                     0
Sam Adams                                        0
Steel Reserve                                    0
Stella Artois                                    3
Yeungling Lager                                  0

In [8]:
joined = df+df_1+df_2+df_3+df_4+df_5+df_6+df_7+df_8+df_9+df_10+df_11+df_12+df_13+df_14+df_15

In [9]:
joined

                      The beer brand is similar to
Unnamed: 0
Blue Moon                                       71
Bud Ice                                          0
Bud Light                                      304
Budweiser                                     1104
Busch                                          366
Busch Light                                      0
Coors Banquet                                    0
Coors Light                                    313
Corona Extra                                    18
Corona Light                                     4
Dos Equis                                        0
Guiness                                          0
Heineken                                       153
Keystone Light                                   0
Michelob Ultra                                   1
Miller High Life                                 7
Miller Lite                                    120
Milwaukee's Best Ice                             0
Modelo Especial                                  0
Natural Ice                                      0
Natural Light                                    0
Pabst Blue Ribbon                               95
Red Stripe                                       0
Rolling Rock                                     0
Sam Adams                                        8
Steel Reserve                                    0
Stella Artois                                  151
Yeungling Lager                                  0

In [17]:
12*250 + 500

3500

In [10]:
joined.to_csv("freqs/jb Feb 24 6500.csv")