In [1]:
import pandas as pd
import numpy as np

In [2]:
raw1 = pd.read_csv("raw_text/b Feb22 100 1.csv", index_col=0)
raw2 = pd.read_csv("raw_text/b Feb22 100 2.csv", index_col=0)
raw3 = pd.read_csv("raw_text/b Feb22 100 3.csv", index_col=0)
raw4 = pd.read_csv("raw_text/b Feb22 100 4.csv", index_col=0)
raw5 = pd.read_csv("raw_text/b Feb22 100 5.csv", index_col=0)

raw_1 = pd.read_csv("raw_text/b Feb23 250 1.csv", index_col=0)
raw_2 = pd.read_csv("raw_text/b Feb23 250 2.csv", index_col=0)
raw_3 = pd.read_csv("raw_text/b Feb23 250 3.csv", index_col=0)
raw_4 = pd.read_csv("raw_text/b Feb23 250 4.csv", index_col=0)
raw_5 = pd.read_csv("raw_text/b Feb23 250 5.csv", index_col=0)
raw_6 = pd.read_csv("raw_text/b Feb23 250 6.csv", index_col=0)
raw_7 = pd.read_csv("raw_text/b Feb23 250 7.csv", index_col=0)
raw_8 = pd.read_csv("raw_text/b Feb23 250 8.csv", index_col=0)
raw_9 = pd.read_csv("raw_text/b Feb23 250 9.csv", index_col=0)
raw_10 = pd.read_csv("raw_text/b Feb23 250 10.csv", index_col=0)
raw_11 = pd.read_csv("raw_text/b Feb23 250 11.csv", index_col=0)
raw_12 = pd.read_csv("raw_text/b Feb23 250 12.csv", index_col=0)

raw__1 = pd.read_csv("raw_text/b Feb24 200 1.csv", index_col=0)
raw__2 = pd.read_csv("raw_text/b Feb24 200 2.csv", index_col=0)
raw__3 = pd.read_csv("raw_text/b Feb24 200 3.csv", index_col=0)
raw__4 = pd.read_csv("raw_text/b Feb24 200 4.csv", index_col=0)
raw__5 = pd.read_csv("raw_text/b Feb24 200 5.csv", index_col=0)
raw__6 = pd.read_csv("raw_text/b Feb24 200 6.csv", index_col=0)
raw__7 = pd.read_csv("raw_text/b Feb24 200 7.csv", index_col=0)
raw__8 = pd.read_csv("raw_text/b Feb24 200 8.csv", index_col=0)
raw__9 = pd.read_csv("raw_text/b Feb24 200 9.csv", index_col=0)
raw__10 = pd.read_csv("raw_text/b Feb24 200 10.csv", index_col=0)
raw__11 = pd.read_csv("raw_text/b Feb24 200 11.csv", index_col=0)
raw__12 = pd.read_csv("raw_text/b Feb24 200 12.csv", index_col=0)
raw__13 = pd.read_csv("raw_text/b Feb24 200 13.csv", index_col=0)
raw__14 = pd.read_csv("raw_text/b Feb24 200 14.csv", index_col=0)
raw__15 = pd.read_csv("raw_text/b Feb24 200 15.csv", index_col=0)

In [5]:
raw__1

                          The beer brand is similar to
0     its namesake, but with a touch of oak. It's a...
1     the popular Dom Perignon, but is made with a ...
2     the original, but it's not a traditional Amer...
3     the popular Miller Lite, but is made with a s...
4     the Budweiser brand, which was founded in 185...
..                                                 ...
195   the popular American beer, but with a slight ...
196   the popular British beer, Great Britain's Gre...
197   the popular Goose Island brand, which is the ...
198   Budweiser, but with a "new twist" and "new in...
199   the dark ale from the brewery's other flagshi...

[200 rows x 1 columns]

In [6]:
def process_responses(all_text,keywords,filename):
    frqs = {}
    for prompt in all_text.columns:
        frqs[prompt] = {}
        series = all_text[prompt].str.lower().str.split("<|endoftext|>", expand=True)[0]
        for brand in keywords:
            cnt = pd.Series(np.zeros_like(series))
            for alias in brand:
                alias = alias.lower()
                cnt = cnt | series.str.contains('[^A-z]' + alias + '[^A-z]', case=False)
            frqs[prompt][brand[0]] = cnt.sum()
#     pd.DataFrame(frqs).to_csv('freqs/'+filename+'.csv')
    return pd.DataFrame(frqs)

In [7]:
brands = [
    ["ABI"],
    ["Anheuser-Busch InBev"],
    ["Belgian Witbier"],
    ["Black Sheep"],
    ["Blue Moon"],
    ["Brouwer Brothers Brewing Company"],
    ["Bud Ice"],
    ["Bud Light"],
    ["Budweiser"],
    ["Busch"],
    ["Busch Light"],
    ["China Brews"],
    ["Coopers Brewery"],
    ["Coors"],
    ["Coors Banquet"],
    ["Coors Light"],
    ["Corky"],
    ["Corona"],
    ["Corona Extra"],
    ["Corona Light"],
    ["Corona Sun"],
    ["Dos Equis"],
    ["Goose Island"],
    ["Goose Island Brewing"],
    ["Guiness"],
    ["Hefeweizen"],
    ["Hefeweizen-Duprechtsbier"],
    ["Hefeweizen-Lager"],
    ["Hefeweizen-Lager-Lager"],
    ["Hefeweizen-Lager-Lager"],
    ["Hefeweizen-Lager-Lager-Lager"],
    ["Hefeweizen-Lager-Pilsner"],
    ["Heineken"],
    ["Hops for Hops"],
    ["Hopworks"],
    ["Keystone Light"],
    ["Kirin"],
    ["Kirin IPA"],
    ["Kolsch"],
    ["Lager"],
    ["Lagunitas Brewing"],
    ["Michelob Ultra"],
    ["Miller High Life"],
    ["Miller Lite"],
    ["MillerCoors"],
    ["Milwaukee's Best Ice"],
    ["Modelo Especial"],
    ["Natty Light"],
    ["Natural Ice"],
    ["Natural Light"],
    ["New Belgium Brewing"],
    ["Pabst"],
    ["Pabst Blue Ribbon"],
    ["Pabstlight"],
    ["Pacific Northwest"],
    ["Pilsner"],
    ["Pilsner Urquell"],
    ["Red Stripe"],
    ["Rolling Rock"],
    ["Sam Adams"],
    ["Samuel Adams"],
    ["Sierra Nevada"],
    ["Sierra Nevada Brewing"],
    ["Sierra Nevada Craft Brewery"],
    ["Sierra Nevada Pale Ale"],
    ["Sierra Nevada Pale Ale Black"],
    ["Sierra Nevada Pale Ale Extra"],
    ["Steel Reserve"],
    ["Stella Artois"],
    ["Stone"],
    ["Stone Brewing"],
    ["Stout"],
    ["Sudhau"],
    ["The Brewmaster"],
    ["Yeungling Lager"],
    ["Blue Moon Belgian White"]
]

In [11]:
f1 = process_responses(raw1, brands, "")
f2 = process_responses(raw2, brands, "")
f3 = process_responses(raw3, brands, "")
f4 = process_responses(raw4, brands, "")
f5 = process_responses(raw5, brands, "")

f_1 = process_responses(raw_1, brands, "")
f_2 = process_responses(raw_2, brands, "")
f_3 = process_responses(raw_3, brands, "")
f_4 = process_responses(raw_4, brands, "")
f_5 = process_responses(raw_5, brands, "")
f_6 = process_responses(raw_6, brands, "")
f_7 = process_responses(raw_7, brands, "")
f_8 = process_responses(raw_8, brands, "")
f_9 = process_responses(raw_9, brands, "")
f_10 = process_responses(raw_10, brands, "")
f_11 = process_responses(raw_11, brands, "")
f_12 = process_responses(raw_12, brands, "")

f__1 = process_responses(raw__1, brands, "")
f__2 = process_responses(raw__2, brands, "")
f__3 = process_responses(raw__3, brands, "")
f__4 = process_responses(raw__4, brands, "")
f__5 = process_responses(raw__5, brands, "")
f__6 = process_responses(raw__6, brands, "")
f__7 = process_responses(raw__7, brands, "")
f__8 = process_responses(raw__8, brands, "")
f__9 = process_responses(raw__9, brands, "")
f__10 = process_responses(raw__10, brands, "")
f__11 = process_responses(raw__11, brands, "")
f__12 = process_responses(raw__12, brands, "")
f__13 = process_responses(raw__13, brands, "")
f__14 = process_responses(raw__14, brands, "")
f__15 = process_responses(raw__15, brands, "")

In [15]:
joined = f1+f2+f3+f4+f5+f_1+f_2+f_3+f_4+f_5+f_6+f_7+f_8+f_9+f_10+f_11+f_12+f__1+f__2+f__3+f__4+f__5+f__6+f__7+f__8+f__9+f__10+f__11+f__12+f__13+f__14+f__15

In [16]:
joined

                      The beer brand is similar to
ABI                                              1
Anheuser-Busch InBev                           326
Belgian Witbier                                 14
Black Sheep                                      5
Blue Moon                                       71
...                                            ...
Stone Brewing                                   47
Stout                                          267
Sudhau                                           0
The Brewmaster                                  22
Yeungling Lager                                  0

[75 rows x 1 columns]

In [17]:
joined.to_csv("freqs/jb Mar14 6500.csv")