In [ ]:
def process_responses(all_text,keywords):
    frqs={}
    frq=defaultdict(int)
    text_list=all_text[text_list]
    for words in keywords:
        for word in words:
            regex_string = '[^A-z]' + word + '[^A-z]'
            frq[words[0]]+=len([text for text in text_list if [re.findall('[^A-z]' + word + '[^A-z]', text) for word in words]])
        frqs[tmp]=frq
    return frqs

aliases = [['Jeep', 'Fiat', 'Chrysler'],
        ['Subaru', 'Bugeye', 'Scooby'],
        ['Dodge', 'Polara'],
        ['GMC'],
        ['Tesla'],
        ['Buick'],
        ['Toyota', 'Yota', 'Camry'],
        ['Honda', 'Accord'],
        ['Nissan', 'Infiniti'],
        ['Chevrolet', 'Chevy'],
        ['Hyundai', 'Tiburon', 'HYU', 'Kia'],
        ['Ram'],
        ['Mazda', 'Matsuda'],
        ['Renault', 'Dacia'],
        ['Lamborghini', 'Lambo', 'Aventadora', 'Lamborgini'],
        ['Mercedes-Benz', 'Merc', 'Benz', 'Mercedes'],
        ['BMW', 'Beemer', 'Bimmer', 'Beamer'],
        ['Ford', 'Thunderbird', 'Mustang'],
        ['Porsche', 'Porche', 'Porce'],
        ['Audi', '4 Rings'],
        ['Volkswagen', 'VW', 'Volkswagon'],
        ['Ferrari', 'Prancing Horse', 'Scuderia'],
        ['MG', 'M.G.', 'Morris Garages', 'M.G. Car Company'],
        ['Lexus', 'Lex', 'GX', 'ES 250'],
        ['Infiniti'],
        ['Volvo']]

In [1]:
import pandas as pd

In [9]:
df = pd.read_csv("data/raw_text/b Nov21 500 1.csv")

In [16]:
df.iloc[[0,2]].split("<|endoftext|>")[0].split(".")

AttributeError: 'DataFrame' object has no attribute 'split'

In [15]:
df

     Unnamed: 0                        The car brand is similar to
0             0   Porsche, but the company's cars are designed ...
1             1   Ferrari, but also has a more muscular design....
2             2   Ferrari, a car maker that has been under fire...
3             3   Nissan's Leaf, which is currently on sale in ...
4             4   Porsche, which also has a brand name for the ...
..          ...                                                ...
495         495   Ferrari, but it's not quite as demanding.\n\n...
496         496   Toyota in that it has a global presence but h...
497         497   Mercedes, but it has a more modern design and...
498         498   Mercedes-Benz, but it's a bit more expensive....
499         499   Porsche, which has been selling cars in the U...

[500 rows x 2 columns]