In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("freqs/Dec3 30 1.csv")
df2 = pd.read_csv("freqs/Dec3 30 2.csv")
df3 = pd.read_csv("freqs/Dec3 30 3.csv")
df4 = pd.read_csv("freqs/Dec3 30 4.csv")
df5 = pd.read_csv("freqs/Dec3 30 5.csv")
df6 = pd.read_csv("freqs/Dec3 30 6.csv")
df7 = pd.read_csv("freqs/Dec3 30 7.csv")
df8 = pd.read_csv("freqs/Dec3 30 8.csv")
df9 = pd.read_csv("freqs/Dec3 30 9.csv")
df10 = pd.read_csv("freqs/Dec3 30 10.csv")
df11 = pd.read_csv("freqs/Dec3 30 11.csv")
df12 = pd.read_csv("freqs/Dec3 30 12.csv")
df13 = pd.read_csv("freqs/Dec3 30 13.csv")
df14 = pd.read_csv("freqs/Dec3 30 14.csv")
df15 = pd.read_csv("freqs/Dec3 30 15.csv")

In [3]:
df1

,Unnamed: 0,Jeep is similar to,Subaru is similar to,Dodge is similar to,Tesla is similar to,Toyota is similar to,Honda is similar to,Nissan is similar to,Chevrolet is similar to,Hyundai is similar to,...,Lamborghini is similar to,Mercedes-Benz is similar to,BMW is similar to,Ford is similar to,Porsche is similar to,Audi is similar to,Volkswagen is similar to,Ferrari is similar to,Lexus is similar to,Volvo is similar to
0,Jeep,29,0,0,0,0,0,0,2,1,...,0,1,0,0,0,0,0,0,0,0
1,Subaru,0,21,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
2,Dodge,0,0,28,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
3,Tesla,0,0,0,30,2,1,2,1,1,...,1,2,3,0,1,1,1,0,3,3
4,Toyota,1,0,1,2,25,5,7,4,12,...,0,2,1,2,2,2,3,1,2,2
5,Honda,1,0,0,3,4,29,2,1,4,...,0,0,1,3,0,0,0,0,2,0
6,Nissan,0,0,0,1,3,3,27,2,1,...,0,0,1,0,1,1,0,0,2,0
7,Chevrolet,2,0,2,0,2,0,3,20,0,...,0,2,0,1,0,1,0,0,0,2
8,Hyundai,0,0,1,0,0,0,2,0,23,...,0,0,0,0,0,0,1,0,0,1
9,Mazda,0,0,0,0,0,1,1,0,1,...,0,1,0,1,0,1,0,0,0,0
10,Renault,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,1,0
11,Lamborghini,0,0,0,0,0,0,0,0,0,...,30,0,0,1,0,0,0,1,0,0
12,Mercedes-Benz,0,0,0,0,1,2,0,0,1,...,2,24,2,1,2,2,0,1,5,2
13,BMW,0,0,0,0,2,8,4,1,4,...,2,5,27,1,4,6,0,0,12,9
14,Ford,3,0,2,0,7,3,4,15,7,...,0,2,0,18,3,1,4,1,1,7
15,Porsche,0,0,0,0,0,0,1,0,0,...,3,0,0,0,23,0,1,1,2,1
16,Audi,0,0,0,0,0,0,0,1,1,...,2,5,0,1,4,26,3,1,4,1
17,Volkswagen,1,0,0,0,1,1,4,0,2,...,0,3,0,1,4,9,23,0,1,0
18,Ferrari,1,0,0,0,0,0,0,0,0,...,9,0,1,3,7,0,0,27,0,0
19,Lexus,0,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,1,0,8,0
20,Volvo,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,22

In [4]:
df2

,Unnamed: 0,Jeep is similar to,Subaru is similar to,Dodge is similar to,Tesla is similar to,Toyota is similar to,Honda is similar to,Nissan is similar to,Chevrolet is similar to,Hyundai is similar to,...,Lamborghini is similar to,Mercedes-Benz is similar to,BMW is similar to,Ford is similar to,Porsche is similar to,Audi is similar to,Volkswagen is similar to,Ferrari is similar to,Lexus is similar to,Volvo is similar to
0,Jeep,29,0,0,0,2,0,0,1,1,...,0,0,0,0,0,0,0,0,0,2
1,Subaru,0,24,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,Dodge,2,0,28,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
3,Tesla,0,0,0,29,5,1,5,1,2,...,2,3,0,0,1,0,1,1,0,5
4,Toyota,1,0,2,1,27,6,3,4,13,...,0,1,0,2,0,3,2,0,2,2
5,Honda,0,1,1,1,6,28,4,1,5,...,0,1,0,3,0,0,2,0,1,2
6,Nissan,0,0,0,1,3,0,24,2,0,...,2,0,1,0,0,1,0,0,2,2
7,Chevrolet,3,0,0,0,1,1,0,27,0,...,1,0,0,3,0,2,1,0,0,0
8,Hyundai,1,0,0,1,0,0,1,0,29,...,0,0,0,0,0,0,1,0,1,0
9,Mazda,0,0,0,0,1,1,0,1,0,...,1,0,0,3,0,1,1,0,0,0
10,Renault,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
11,Lamborghini,0,0,0,0,0,0,0,0,0,...,30,0,1,0,0,0,0,1,0,0
12,Mercedes-Benz,0,0,1,1,1,1,1,2,1,...,2,24,3,1,0,4,0,7,9,2
13,BMW,0,0,0,2,2,1,2,2,2,...,3,8,28,3,5,13,0,2,17,4
14,Ford,7,1,1,3,7,5,0,12,4,...,2,2,0,19,3,2,3,0,1,4
15,Porsche,0,0,0,1,1,0,0,0,0,...,1,1,1,0,24,2,3,1,3,2
16,Audi,0,0,0,0,1,0,0,0,0,...,2,1,0,1,3,26,4,1,8,1
17,Volkswagen,0,0,0,1,4,0,2,1,1,...,0,2,2,2,4,5,26,0,1,2
18,Ferrari,0,0,0,0,0,0,0,0,0,...,5,2,1,0,6,0,0,29,0,0
19,Lexus,0,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,10,0
20,Volvo,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,21

In [5]:
joined = df1+df2+df3+df4+df5+df6+df7+df8+df9+df10+df11+df12+df13+df14+df15
joined

,Unnamed: 0,Jeep is similar to,Subaru is similar to,Dodge is similar to,Tesla is similar to,Toyota is similar to,Honda is similar to,Nissan is similar to,Chevrolet is similar to,Hyundai is similar to,...,Lamborghini is similar to,Mercedes-Benz is similar to,BMW is similar to,Ford is similar to,Porsche is similar to,Audi is similar to,Volkswagen is similar to,Ferrari is similar to,Lexus is similar to,Volvo is similar to
0,JeepJeepJeepJeepJeepJeepJeepJeepJeepJeepJeepJe...,405,0,7,0,10,3,2,27,3,...,4,3,3,2,3,7,6,3,2,4
1,SubaruSubaruSubaruSubaruSubaruSubaruSubaruSuba...,1,298,0,0,0,0,1,1,1,...,0,0,0,0,0,3,0,1,6,1
2,DodgeDodgeDodgeDodgeDodgeDodgeDodgeDodgeDodgeD...,16,0,398,0,0,0,0,10,0,...,1,1,3,4,0,1,0,1,3,2
3,TeslaTeslaTeslaTeslaTeslaTeslaTeslaTeslaTeslaT...,3,0,0,431,52,10,61,27,30,...,4,18,9,16,13,16,24,4,16,58
4,ToyotaToyotaToyotaToyotaToyotaToyotaToyotaToyo...,28,0,4,10,382,100,112,59,163,...,3,34,16,26,14,37,44,5,70,47
5,HondaHondaHondaHondaHondaHondaHondaHondaHondaH...,19,1,5,9,83,430,49,25,71,...,8,7,18,28,10,28,11,12,34,28
6,NissanNissanNissanNissanNissanNissanNissanNiss...,5,0,0,7,37,29,402,27,15,...,2,2,10,12,2,8,8,2,44,7
7,ChevroletChevroletChevroletChevroletChevroletC...,38,0,9,4,21,9,20,337,6,...,6,9,3,25,0,12,5,4,6,15
8,HyundaiHyundaiHyundaiHyundaiHyundaiHyundaiHyun...,8,0,1,1,4,7,12,4,396,...,1,0,2,0,0,1,3,1,3,7
9,MazdaMazdaMazdaMazdaMazdaMazdaMazdaMazdaMazdaM...,1,0,0,0,9,9,7,11,6,...,3,1,4,10,3,4,5,2,9,2
10,RenaultRenaultRenaultRenaultRenaultRenaultRena...,0,0,0,0,0,2,4,1,1,...,0,2,2,0,1,6,0,5,1,6
11,LamborghiniLamborghiniLamborghiniLamborghiniLa...,0,0,0,1,0,1,1,0,0,...,436,0,3,2,7,1,0,6,1,0
12,Mercedes-BenzMercedes-BenzMercedes-BenzMercede...,3,0,3,11,12,20,16,13,10,...,42,394,65,21,35,47,13,59,76,26
13,BMWBMWBMWBMWBMWBMWBMWBMWBMWBMWBMWBMWBMWBMWBMW,9,0,0,13,17,68,55,16,24,...,36,87,402,19,74,134,20,12,168,101
14,FordFordFordFordFordFordFordFordFordFordFordFo...,58,1,12,16,124,39,40,199,87,...,7,21,9,283,38,29,51,6,17,66
15,PorschePorschePorschePorschePorschePorschePors...,2,0,6,2,1,3,11,8,2,...,35,17,23,10,365,20,26,18,16,7
16,AudiAudiAudiAudiAudiAudiAudiAudiAudiAudiAudiAu...,0,0,0,3,1,2,3,3,5,...,25,41,28,5,27,345,52,10,36,16
17,VolkswagenVolkswagenVolkswagenVolkswagenVolksw...,10,0,0,2,50,8,45,26,39,...,2,32,21,7,37,77,351,0,10,19
18,FerrariFerrariFerrariFerrariFerrariFerrariFerr...,2,0,1,2,1,1,4,2,3,...,139,23,11,15,89,12,0,422,8,1
19,LexusLexusLexusLexusLexusLexusLexusLexusLexusL...,0,0,0,1,13,1,1,3,8,...,1,6,1,1,1,3,2,1,139,1
20,VolvoVolvoVolvoVolvoVolvoVolvoVolvoVolvoVolvoV...,1,0,0,0,1,1,1,0,1,...,0,3,0,1,1,3,0,0,0,339

In [6]:
joined['Unnamed: 0'] = df1['Unnamed: 0']

In [7]:
joined

,Unnamed: 0,Jeep is similar to,Subaru is similar to,Dodge is similar to,Tesla is similar to,Toyota is similar to,Honda is similar to,Nissan is similar to,Chevrolet is similar to,Hyundai is similar to,...,Lamborghini is similar to,Mercedes-Benz is similar to,BMW is similar to,Ford is similar to,Porsche is similar to,Audi is similar to,Volkswagen is similar to,Ferrari is similar to,Lexus is similar to,Volvo is similar to
0,Jeep,405,0,7,0,10,3,2,27,3,...,4,3,3,2,3,7,6,3,2,4
1,Subaru,1,298,0,0,0,0,1,1,1,...,0,0,0,0,0,3,0,1,6,1
2,Dodge,16,0,398,0,0,0,0,10,0,...,1,1,3,4,0,1,0,1,3,2
3,Tesla,3,0,0,431,52,10,61,27,30,...,4,18,9,16,13,16,24,4,16,58
4,Toyota,28,0,4,10,382,100,112,59,163,...,3,34,16,26,14,37,44,5,70,47
5,Honda,19,1,5,9,83,430,49,25,71,...,8,7,18,28,10,28,11,12,34,28
6,Nissan,5,0,0,7,37,29,402,27,15,...,2,2,10,12,2,8,8,2,44,7
7,Chevrolet,38,0,9,4,21,9,20,337,6,...,6,9,3,25,0,12,5,4,6,15
8,Hyundai,8,0,1,1,4,7,12,4,396,...,1,0,2,0,0,1,3,1,3,7
9,Mazda,1,0,0,0,9,9,7,11,6,...,3,1,4,10,3,4,5,2,9,2
10,Renault,0,0,0,0,0,2,4,1,1,...,0,2,2,0,1,6,0,5,1,6
11,Lamborghini,0,0,0,1,0,1,1,0,0,...,436,0,3,2,7,1,0,6,1,0
12,Mercedes-Benz,3,0,3,11,12,20,16,13,10,...,42,394,65,21,35,47,13,59,76,26
13,BMW,9,0,0,13,17,68,55,16,24,...,36,87,402,19,74,134,20,12,168,101
14,Ford,58,1,12,16,124,39,40,199,87,...,7,21,9,283,38,29,51,6,17,66
15,Porsche,2,0,6,2,1,3,11,8,2,...,35,17,23,10,365,20,26,18,16,7
16,Audi,0,0,0,3,1,2,3,3,5,...,25,41,28,5,27,345,52,10,36,16
17,Volkswagen,10,0,0,2,50,8,45,26,39,...,2,32,21,7,37,77,351,0,10,19
18,Ferrari,2,0,1,2,1,1,4,2,3,...,139,23,11,15,89,12,0,422,8,1
19,Lexus,0,0,0,1,13,1,1,3,8,...,1,6,1,1,1,3,2,1,139,1
20,Volvo,1,0,0,0,1,1,1,0,1,...,0,3,0,1,1,3,0,0,0,339

In [8]:
joined.to_csv("freqs/j Dec 3 450.csv")