In [1]:
import pandas as pd

In [9]:
df1 = pd.read_csv("freqs/Dec18 50 1.csv")
df2 = pd.read_csv("freqs/Dec18 50 2.csv")
df3 = pd.read_csv("freqs/Dec18 50 3.csv")
df4 = pd.read_csv("freqs/Dec18 50 4.csv")
df5 = pd.read_csv("freqs/Dec18 50 5.csv")
df6 = pd.read_csv("freqs/Dec18 50 6.csv")
df7 = pd.read_csv("freqs/Dec18 50 7.csv")
df8 = pd.read_csv("freqs/Dec18 50 8.csv")
df9 = pd.read_csv("freqs/Dec18 50 9.csv")
df10 = pd.read_csv("freqs/Dec18 50 10.csv")
df11 = pd.read_csv("freqs/Dec18 50 11.csv")
df12 = pd.read_csv("freqs/Dec18 50 12.csv")
df13 = pd.read_csv("freqs/Dec18 50 13.csv")
df14 = pd.read_csv("freqs/Dec18 50 14.csv")
df15 = pd.read_csv("freqs/Dec18 50 15.csv")

In [10]:
df1

,Unnamed: 0,Jeep is similar to,Subaru is similar to,Dodge is similar to,Tesla is similar to,Toyota is similar to,Honda is similar to,Nissan is similar to,Chevrolet is similar to,Hyundai is similar to,...,Lamborghini is similar to,Mercedes-Benz is similar to,BMW is similar to,Ford is similar to,Porsche is similar to,Audi is similar to,Volkswagen is similar to,Ferrari is similar to,Lexus is similar to,Volvo is similar to
0,Jeep,46,0,2,1,3,0,0,4,1,...,0,1,0,1,1,0,2,0,0,0
1,Subaru,0,34,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Dodge,3,0,42,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Tesla,0,0,0,47,8,1,3,3,3,...,1,0,0,0,3,2,5,0,2,5
4,Toyota,3,0,0,2,42,11,19,7,17,...,0,2,1,5,1,3,4,1,5,7
5,Honda,0,0,0,2,4,48,7,4,9,...,2,0,1,5,0,1,1,4,4,3
6,Nissan,3,0,0,4,2,6,44,6,2,...,1,0,0,3,2,1,3,0,4,0
7,Chevrolet,5,0,1,0,5,1,1,40,0,...,0,0,1,3,0,2,3,0,0,2
8,Hyundai,1,0,0,0,0,1,2,0,39,...,0,0,2,0,0,1,0,0,0,1
9,Mazda,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,1,0
10,Renault,0,0,0,0,0,1,1,0,0,...,0,0,0,1,1,0,0,1,0,0
11,Lamborghini,0,0,0,0,0,0,0,0,0,...,47,0,2,0,0,0,0,0,1,0
12,Mercedes-Benz,0,0,0,3,2,3,1,3,1,...,5,45,13,0,9,2,4,4,11,4
13,BMW,0,0,0,2,2,7,3,3,1,...,3,11,43,1,10,17,4,3,11,9
14,Ford,7,0,1,2,10,4,6,16,7,...,0,1,2,28,3,3,7,0,2,7
15,Porsche,0,0,0,0,1,0,0,3,0,...,4,1,3,0,37,1,1,1,2,0
16,Audi,0,0,0,0,1,0,0,1,0,...,2,4,3,0,4,42,5,1,3,1
17,Volkswagen,0,0,0,0,6,2,2,1,3,...,0,4,1,2,4,10,34,0,0,5
18,Ferrari,0,0,0,0,0,0,1,0,0,...,19,2,2,3,8,1,0,43,0,0
19,Lexus,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,13,1
20,Volvo,0,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,31

In [4]:
df2

,Unnamed: 0,Jeep is similar to,Subaru is similar to,Dodge is similar to,Tesla is similar to,Toyota is similar to,Honda is similar to,Nissan is similar to,Chevrolet is similar to,Hyundai is similar to,...,Lamborghini is similar to,Mercedes-Benz is similar to,BMW is similar to,Ford is similar to,Porsche is similar to,Audi is similar to,Volkswagen is similar to,Ferrari is similar to,Lexus is similar to,Volvo is similar to
0,Jeep,45,0,2,0,0,0,0,2,1,...,0,0,0,0,0,1,1,1,0,1
1,Subaru,0,33,0,0,0,0,2,0,0,...,0,0,0,0,0,1,0,0,1,0
2,Dodge,2,0,44,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Tesla,0,0,0,44,5,2,9,4,6,...,0,3,1,0,1,1,1,0,1,9
4,Toyota,5,0,1,1,40,12,14,8,23,...,0,4,2,2,3,3,3,0,9,3
5,Honda,2,0,0,0,6,49,6,3,6,...,4,1,1,5,1,5,0,1,3,6
6,Nissan,1,0,0,1,2,4,43,2,2,...,0,1,1,3,0,3,0,0,2,2
7,Chevrolet,5,0,1,0,0,1,0,39,3,...,0,1,1,0,0,2,1,0,1,2
8,Hyundai,0,0,0,0,0,1,0,2,42,...,0,0,0,0,0,0,1,0,0,1
9,Mazda,1,0,0,1,1,0,1,0,0,...,0,1,0,1,0,0,0,0,2,0
10,Renault,0,0,0,0,0,0,0,0,0,...,0,0,2,0,0,1,1,2,0,0
11,Lamborghini,0,0,0,0,0,0,0,0,0,...,48,0,0,0,0,0,0,0,0,0
12,Mercedes-Benz,0,0,0,1,0,1,0,2,1,...,3,40,15,2,7,6,2,10,9,4
13,BMW,2,0,0,2,3,7,8,2,1,...,2,13,42,2,12,11,1,2,23,10
14,Ford,9,0,3,2,22,4,4,22,7,...,0,3,3,34,1,1,3,0,2,9
15,Porsche,0,0,0,0,0,1,2,1,0,...,2,0,3,2,39,4,4,3,1,0
16,Audi,0,0,0,0,0,0,0,0,1,...,4,3,3,1,2,44,4,0,4,2
17,Volkswagen,1,0,0,0,7,1,4,1,3,...,0,3,2,2,4,16,37,0,2,0
18,Ferrari,0,0,0,0,0,0,1,0,1,...,17,4,2,1,10,0,0,50,0,0
19,Lexus,0,0,0,0,3,0,0,0,0,...,0,1,0,0,0,1,0,0,18,2
20,Volvo,0,0,0,0,0,0,0,1,1,...,0,1,0,0,0,0,0,0,0,37

In [5]:
joined = df1+df2+df3+df4+df5+df6+df7+df8+df9+df10+df11+df12+df13+df14+df15
joined

,Unnamed: 0,Jeep is similar to,Subaru is similar to,Dodge is similar to,Tesla is similar to,Toyota is similar to,Honda is similar to,Nissan is similar to,Chevrolet is similar to,Hyundai is similar to,...,Lamborghini is similar to,Mercedes-Benz is similar to,BMW is similar to,Ford is similar to,Porsche is similar to,Audi is similar to,Volkswagen is similar to,Ferrari is similar to,Lexus is similar to,Volvo is similar to
0,JeepJeepJeepJeepJeepJeepJeepJeepJeepJeepJeepJe...,668,0,11,3,15,3,8,45,9,...,4,5,2,11,5,12,11,17,3,9
1,SubaruSubaruSubaruSubaruSubaruSubaruSubaruSuba...,2,491,0,0,4,1,5,1,2,...,0,1,1,1,2,2,1,0,10,3
2,DodgeDodgeDodgeDodgeDodgeDodgeDodgeDodgeDodgeD...,35,0,664,0,0,0,1,13,2,...,0,0,0,3,0,2,0,0,1,3
3,TeslaTeslaTeslaTeslaTeslaTeslaTeslaTeslaTeslaT...,7,0,1,721,73,29,103,61,63,...,11,28,20,29,19,26,27,4,24,115
4,ToyotaToyotaToyotaToyotaToyotaToyotaToyotaToyo...,43,0,7,11,632,191,224,117,261,...,3,53,31,36,23,48,74,2,127,82
5,HondaHondaHondaHondaHondaHondaHondaHondaHondaH...,22,0,6,5,115,711,80,48,107,...,30,14,23,47,21,52,25,28,72,58
6,NissanNissanNissanNissanNissanNissanNissanNiss...,12,0,3,16,47,56,675,43,32,...,2,11,18,21,9,20,13,2,49,24
7,ChevroletChevroletChevroletChevroletChevroletC...,71,0,12,6,29,21,31,555,17,...,9,7,9,34,5,20,9,1,13,33
8,HyundaiHyundaiHyundaiHyundaiHyundaiHyundaiHyun...,8,0,2,4,9,19,15,12,646,...,0,4,7,3,2,5,8,0,10,12
9,MazdaMazdaMazdaMazdaMazdaMazdaMazdaMazdaMazdaM...,4,0,2,2,11,11,7,12,4,...,4,4,9,12,3,13,4,1,26,2
10,RenaultRenaultRenaultRenaultRenaultRenaultRena...,1,0,0,0,3,1,12,1,2,...,2,5,8,3,5,3,5,13,8,17
11,LamborghiniLamborghiniLamborghiniLamborghiniLa...,3,0,2,0,0,1,0,0,0,...,727,1,1,3,13,3,1,15,1,2
12,Mercedes-BenzMercedes-BenzMercedes-BenzMercede...,6,0,7,15,20,26,27,20,17,...,60,664,114,23,70,84,24,89,127,42
13,BMWBMWBMWBMWBMWBMWBMWBMWBMWBMWBMWBMWBMWBMWBMW,13,0,5,20,29,97,79,29,29,...,58,166,660,33,154,196,34,22,258,128
14,FordFordFordFordFordFordFordFordFordFordFordFo...,110,0,27,23,224,53,61,337,156,...,6,41,14,461,65,46,74,4,34,101
15,PorschePorschePorschePorschePorschePorschePors...,8,0,5,2,4,4,23,8,4,...,69,35,26,17,605,34,57,22,27,14
16,AudiAudiAudiAudiAudiAudiAudiAudiAudiAudiAudiAu...,2,0,1,2,4,4,10,8,9,...,56,57,50,8,50,592,101,12,52,20
17,VolkswagenVolkswagenVolkswagenVolkswagenVolksw...,14,0,0,6,77,19,70,39,67,...,2,62,21,11,71,188,593,1,19,33
18,FerrariFerrariFerrariFerrariFerrariFerrariFerr...,0,0,2,0,2,2,13,2,4,...,246,40,13,36,147,13,3,703,3,2
19,LexusLexusLexusLexusLexusLexusLexusLexusLexusL...,1,0,0,0,27,4,6,4,7,...,3,8,2,3,2,3,2,0,261,4
20,VolvoVolvoVolvoVolvoVolvoVolvoVolvoVolvoVolvoV...,0,0,0,3,3,1,1,2,5,...,0,2,0,0,0,2,4,0,0,561

In [6]:
joined['Unnamed: 0'] = df1['Unnamed: 0']

In [7]:
joined

,Unnamed: 0,Jeep is similar to,Subaru is similar to,Dodge is similar to,Tesla is similar to,Toyota is similar to,Honda is similar to,Nissan is similar to,Chevrolet is similar to,Hyundai is similar to,...,Lamborghini is similar to,Mercedes-Benz is similar to,BMW is similar to,Ford is similar to,Porsche is similar to,Audi is similar to,Volkswagen is similar to,Ferrari is similar to,Lexus is similar to,Volvo is similar to
0,Jeep,668,0,11,3,15,3,8,45,9,...,4,5,2,11,5,12,11,17,3,9
1,Subaru,2,491,0,0,4,1,5,1,2,...,0,1,1,1,2,2,1,0,10,3
2,Dodge,35,0,664,0,0,0,1,13,2,...,0,0,0,3,0,2,0,0,1,3
3,Tesla,7,0,1,721,73,29,103,61,63,...,11,28,20,29,19,26,27,4,24,115
4,Toyota,43,0,7,11,632,191,224,117,261,...,3,53,31,36,23,48,74,2,127,82
5,Honda,22,0,6,5,115,711,80,48,107,...,30,14,23,47,21,52,25,28,72,58
6,Nissan,12,0,3,16,47,56,675,43,32,...,2,11,18,21,9,20,13,2,49,24
7,Chevrolet,71,0,12,6,29,21,31,555,17,...,9,7,9,34,5,20,9,1,13,33
8,Hyundai,8,0,2,4,9,19,15,12,646,...,0,4,7,3,2,5,8,0,10,12
9,Mazda,4,0,2,2,11,11,7,12,4,...,4,4,9,12,3,13,4,1,26,2
10,Renault,1,0,0,0,3,1,12,1,2,...,2,5,8,3,5,3,5,13,8,17
11,Lamborghini,3,0,2,0,0,1,0,0,0,...,727,1,1,3,13,3,1,15,1,2
12,Mercedes-Benz,6,0,7,15,20,26,27,20,17,...,60,664,114,23,70,84,24,89,127,42
13,BMW,13,0,5,20,29,97,79,29,29,...,58,166,660,33,154,196,34,22,258,128
14,Ford,110,0,27,23,224,53,61,337,156,...,6,41,14,461,65,46,74,4,34,101
15,Porsche,8,0,5,2,4,4,23,8,4,...,69,35,26,17,605,34,57,22,27,14
16,Audi,2,0,1,2,4,4,10,8,9,...,56,57,50,8,50,592,101,12,52,20
17,Volkswagen,14,0,0,6,77,19,70,39,67,...,2,62,21,11,71,188,593,1,19,33
18,Ferrari,0,0,2,0,2,2,13,2,4,...,246,40,13,36,147,13,3,703,3,2
19,Lexus,1,0,0,0,27,4,6,4,7,...,3,8,2,3,2,3,2,0,261,4
20,Volvo,0,0,0,3,3,1,1,2,5,...,0,2,0,0,0,2,4,0,0,561

In [8]:
joined.to_csv("freqs/j Dec 15 750.csv")

In [8]:
50*15

750