In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("freqs/Dec5 50 1.csv")
df2 = pd.read_csv("freqs/Dec5 50 2.csv")
df3 = pd.read_csv("freqs/Dec5 50 3.csv")
df4 = pd.read_csv("freqs/Dec5 50 4.csv")
df5 = pd.read_csv("freqs/Dec5 50 5.csv")
df6 = pd.read_csv("freqs/Dec5 50 6.csv")
df7 = pd.read_csv("freqs/Dec5 50 7.csv")
df8 = pd.read_csv("freqs/Dec5 50 8.csv")
df9 = pd.read_csv("freqs/Dec5 50 9.csv")
df10 = pd.read_csv("freqs/Dec5 50 10.csv")
df11 = pd.read_csv("freqs/Dec5 50 11.csv")
df12 = pd.read_csv("freqs/Dec5 50 12.csv")
df13 = pd.read_csv("freqs/Dec5 50 13.csv")
df14 = pd.read_csv("freqs/Dec5 50 14.csv")
df15 = pd.read_csv("freqs/Dec5 50 15.csv")

In [3]:
df1

,Unnamed: 0,Jeep is similar to,Subaru is similar to,Dodge is similar to,Tesla is similar to,Toyota is similar to,Honda is similar to,Nissan is similar to,Chevrolet is similar to,Hyundai is similar to,...,Lamborghini is similar to,Mercedes-Benz is similar to,BMW is similar to,Ford is similar to,Porsche is similar to,Audi is similar to,Volkswagen is similar to,Ferrari is similar to,Lexus is similar to,Volvo is similar to
0,Jeep,49,0,0,0,2,0,0,4,1,...,0,1,0,0,0,0,0,1,0,1
1,Subaru,0,35,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0
2,Dodge,1,0,44,0,1,1,0,1,0,...,0,1,0,1,0,0,0,0,0,0
3,Tesla,0,0,0,47,0,0,8,4,7,...,0,1,2,0,2,2,1,1,1,9
4,Toyota,7,0,1,0,44,12,10,7,21,...,1,5,3,5,2,3,4,1,7,3
5,Honda,1,0,0,0,5,44,5,5,8,...,4,0,3,2,1,2,1,2,3,2
6,Nissan,2,0,0,0,2,4,47,4,0,...,0,1,0,2,0,0,0,0,1,3
7,Chevrolet,7,0,2,0,0,1,1,31,1,...,0,0,1,2,0,1,0,0,0,3
8,Hyundai,2,0,0,0,1,1,1,1,42,...,0,0,0,0,0,0,0,0,2,1
9,Mazda,1,1,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,3,0
10,Renault,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
11,Lamborghini,0,0,0,0,1,0,0,0,0,...,48,1,1,0,2,0,0,1,0,0
12,Mercedes-Benz,0,0,0,1,2,1,4,2,2,...,3,40,9,1,6,6,0,6,4,1
13,BMW,0,0,0,1,4,6,8,4,3,...,2,12,47,3,8,16,2,1,18,10
14,Ford,11,0,3,0,19,4,9,28,9,...,1,2,2,31,2,2,6,1,1,9
15,Porsche,0,0,1,0,0,1,3,0,0,...,6,4,5,0,45,0,3,1,1,1
16,Audi,0,0,1,0,1,0,3,0,0,...,2,5,1,0,5,37,9,2,4,0
17,Volkswagen,3,0,0,0,7,0,5,2,3,...,0,4,1,2,3,5,38,0,2,2
18,Ferrari,0,0,3,0,0,0,0,0,0,...,18,3,1,2,15,1,0,46,0,0
19,Lexus,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,20,0
20,Volvo,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,34

In [4]:
df2

,Unnamed: 0,Jeep is similar to,Subaru is similar to,Dodge is similar to,Tesla is similar to,Toyota is similar to,Honda is similar to,Nissan is similar to,Chevrolet is similar to,Hyundai is similar to,...,Lamborghini is similar to,Mercedes-Benz is similar to,BMW is similar to,Ford is similar to,Porsche is similar to,Audi is similar to,Volkswagen is similar to,Ferrari is similar to,Lexus is similar to,Volvo is similar to
0,Jeep,41,0,1,0,1,0,0,3,0,...,0,0,0,1,0,2,2,0,1,0
1,Subaru,0,36,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Dodge,3,0,44,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,Tesla,0,0,0,47,6,3,1,2,5,...,0,1,0,2,1,2,2,1,2,6
4,Toyota,4,0,1,2,45,19,12,7,16,...,0,2,3,2,3,7,7,0,11,4
5,Honda,5,1,0,2,4,49,4,3,7,...,0,1,2,2,0,5,2,1,7,3
6,Nissan,3,0,0,1,3,7,44,4,1,...,0,0,1,1,0,0,0,0,4,1
7,Chevrolet,2,0,0,0,3,1,0,38,0,...,0,1,0,1,2,1,1,0,1,6
8,Hyundai,0,0,0,0,1,0,1,0,41,...,0,1,0,0,0,0,1,0,0,0
9,Mazda,0,0,0,0,0,0,1,1,0,...,0,0,2,2,0,0,0,0,3,0
10,Renault,0,0,0,0,0,0,2,0,0,...,0,0,0,0,0,1,0,0,0,1
11,Lamborghini,0,0,0,0,0,1,1,0,0,...,49,0,1,1,1,0,0,1,0,0
12,Mercedes-Benz,1,0,0,2,2,1,2,2,2,...,6,45,7,2,3,5,3,3,9,2
13,BMW,2,0,0,1,0,4,4,1,4,...,8,7,47,3,8,10,3,3,18,14
14,Ford,8,0,0,2,16,3,9,19,10,...,0,2,2,30,3,0,9,0,4,6
15,Porsche,0,0,2,0,0,1,3,0,0,...,3,1,2,1,39,3,3,2,5,1
16,Audi,0,0,0,0,0,0,1,0,0,...,2,2,2,0,2,37,6,2,2,2
17,Volkswagen,0,0,0,0,7,0,8,3,3,...,0,5,1,1,5,11,44,0,3,3
18,Ferrari,0,0,0,0,0,1,1,0,0,...,14,2,1,3,9,2,0,48,2,0
19,Lexus,0,0,0,0,3,0,1,0,1,...,0,0,0,0,0,1,1,0,18,0
20,Volvo,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,39

In [5]:
joined = df1+df2+df3+df4+df5+df6+df7+df8+df9+df10+df11+df12+df13+df14+df15
joined

,Unnamed: 0,Jeep is similar to,Subaru is similar to,Dodge is similar to,Tesla is similar to,Toyota is similar to,Honda is similar to,Nissan is similar to,Chevrolet is similar to,Hyundai is similar to,...,Lamborghini is similar to,Mercedes-Benz is similar to,BMW is similar to,Ford is similar to,Porsche is similar to,Audi is similar to,Volkswagen is similar to,Ferrari is similar to,Lexus is similar to,Volvo is similar to
0,JeepJeepJeepJeepJeepJeepJeepJeepJeepJeepJeepJe...,675,0,9,2,15,6,2,60,6,...,6,8,4,11,2,15,15,13,3,10
1,SubaruSubaruSubaruSubaruSubaruSubaruSubaruSuba...,0,475,0,0,1,2,5,0,0,...,2,0,1,2,0,0,1,0,23,3
2,DodgeDodgeDodgeDodgeDodgeDodgeDodgeDodgeDodgeD...,28,0,656,0,1,3,1,11,2,...,1,1,0,6,0,1,1,1,0,0
3,TeslaTeslaTeslaTeslaTeslaTeslaTeslaTeslaTeslaT...,2,0,0,715,63,27,80,48,68,...,6,23,17,24,14,32,38,5,20,115
4,ToyotaToyotaToyotaToyotaToyotaToyotaToyotaToyo...,42,2,5,17,660,203,219,85,244,...,9,46,39,35,22,58,78,7,147,79
5,HondaHondaHondaHondaHondaHondaHondaHondaHondaH...,21,1,2,11,118,712,82,44,90,...,29,7,24,38,13,50,19,30,77,55
6,NissanNissanNissanNissanNissanNissanNissanNiss...,16,1,0,19,53,57,653,36,27,...,3,11,14,15,5,18,8,3,56,26
7,ChevroletChevroletChevroletChevroletChevroletC...,58,0,6,6,28,16,23,542,16,...,5,7,9,35,8,10,10,0,14,51
8,HyundaiHyundaiHyundaiHyundaiHyundaiHyundaiHyun...,8,0,0,2,13,17,15,9,631,...,0,3,4,5,0,2,4,0,7,9
9,MazdaMazdaMazdaMazdaMazdaMazdaMazdaMazdaMazdaM...,1,2,1,0,9,11,9,8,8,...,1,2,5,9,4,7,3,0,24,3
10,RenaultRenaultRenaultRenaultRenaultRenaultRena...,0,0,0,0,0,0,9,2,1,...,1,6,5,0,3,8,2,14,9,10
11,LamborghiniLamborghiniLamborghiniLamborghiniLa...,0,0,2,0,1,2,3,0,0,...,724,5,7,6,13,2,0,12,4,1
12,Mercedes-BenzMercedes-BenzMercedes-BenzMercede...,6,0,5,13,23,28,35,22,19,...,63,659,111,23,66,87,23,102,124,40
13,BMWBMWBMWBMWBMWBMWBMWBMWBMWBMWBMWBMWBMWBMWBMW,9,0,3,10,35,98,88,32,43,...,82,147,680,22,131,217,26,36,238,132
14,FordFordFordFordFordFordFordFordFordFordFordFo...,108,1,22,23,236,52,86,367,146,...,12,41,22,477,58,30,90,7,32,95
15,PorschePorschePorschePorschePorschePorschePors...,3,0,10,1,4,3,20,3,4,...,73,30,27,20,608,29,43,23,35,12
16,AudiAudiAudiAudiAudiAudiAudiAudiAudiAudiAudiAu...,2,0,1,3,8,6,8,3,5,...,47,53,36,7,55,584,92,14,69,13
17,VolkswagenVolkswagenVolkswagenVolkswagenVolksw...,9,0,2,5,84,12,77,23,54,...,3,61,24,15,67,137,596,1,15,31
18,FerrariFerrariFerrariFerrariFerrariFerrariFerr...,0,0,5,0,1,4,10,0,6,...,238,44,15,25,153,16,1,711,14,2
19,LexusLexusLexusLexusLexusLexusLexusLexusLexusL...,0,0,0,1,24,0,2,9,11,...,3,7,2,3,1,2,2,0,253,0
20,VolvoVolvoVolvoVolvoVolvoVolvoVolvoVolvoVolvoV...,3,0,0,0,0,2,2,3,2,...,0,2,5,0,0,1,1,0,1,547

In [6]:
joined['Unnamed: 0'] = df1['Unnamed: 0']

In [7]:
joined

,Unnamed: 0,Jeep is similar to,Subaru is similar to,Dodge is similar to,Tesla is similar to,Toyota is similar to,Honda is similar to,Nissan is similar to,Chevrolet is similar to,Hyundai is similar to,...,Lamborghini is similar to,Mercedes-Benz is similar to,BMW is similar to,Ford is similar to,Porsche is similar to,Audi is similar to,Volkswagen is similar to,Ferrari is similar to,Lexus is similar to,Volvo is similar to
0,Jeep,675,0,9,2,15,6,2,60,6,...,6,8,4,11,2,15,15,13,3,10
1,Subaru,0,475,0,0,1,2,5,0,0,...,2,0,1,2,0,0,1,0,23,3
2,Dodge,28,0,656,0,1,3,1,11,2,...,1,1,0,6,0,1,1,1,0,0
3,Tesla,2,0,0,715,63,27,80,48,68,...,6,23,17,24,14,32,38,5,20,115
4,Toyota,42,2,5,17,660,203,219,85,244,...,9,46,39,35,22,58,78,7,147,79
5,Honda,21,1,2,11,118,712,82,44,90,...,29,7,24,38,13,50,19,30,77,55
6,Nissan,16,1,0,19,53,57,653,36,27,...,3,11,14,15,5,18,8,3,56,26
7,Chevrolet,58,0,6,6,28,16,23,542,16,...,5,7,9,35,8,10,10,0,14,51
8,Hyundai,8,0,0,2,13,17,15,9,631,...,0,3,4,5,0,2,4,0,7,9
9,Mazda,1,2,1,0,9,11,9,8,8,...,1,2,5,9,4,7,3,0,24,3
10,Renault,0,0,0,0,0,0,9,2,1,...,1,6,5,0,3,8,2,14,9,10
11,Lamborghini,0,0,2,0,1,2,3,0,0,...,724,5,7,6,13,2,0,12,4,1
12,Mercedes-Benz,6,0,5,13,23,28,35,22,19,...,63,659,111,23,66,87,23,102,124,40
13,BMW,9,0,3,10,35,98,88,32,43,...,82,147,680,22,131,217,26,36,238,132
14,Ford,108,1,22,23,236,52,86,367,146,...,12,41,22,477,58,30,90,7,32,95
15,Porsche,3,0,10,1,4,3,20,3,4,...,73,30,27,20,608,29,43,23,35,12
16,Audi,2,0,1,3,8,6,8,3,5,...,47,53,36,7,55,584,92,14,69,13
17,Volkswagen,9,0,2,5,84,12,77,23,54,...,3,61,24,15,67,137,596,1,15,31
18,Ferrari,0,0,5,0,1,4,10,0,6,...,238,44,15,25,153,16,1,711,14,2
19,Lexus,0,0,0,1,24,0,2,9,11,...,3,7,2,3,1,2,2,0,253,0
20,Volvo,3,0,0,0,0,2,2,3,2,...,0,2,5,0,0,1,1,0,1,547

In [9]:
joined.to_csv("freqs/j Dec 5 750.csv")

In [8]:
50*15

750