In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("freqs/Dec2 30 1.csv")
df2 = pd.read_csv("freqs/Dec2 30 2.csv")
df3 = pd.read_csv("freqs/Dec2 30 3.csv")
df4 = pd.read_csv("freqs/Dec2 30 4.csv")
df5 = pd.read_csv("freqs/Dec2 30 5.csv")
df6 = pd.read_csv("freqs/Dec2 30 6.csv")
df7 = pd.read_csv("freqs/Dec2 30 7.csv")
df8 = pd.read_csv("freqs/Dec2 30 8.csv")
df9 = pd.read_csv("freqs/Dec2 30 9.csv")
df10 = pd.read_csv("freqs/Dec2 30 10.csv")
df11 = pd.read_csv("freqs/Dec2 30 11.csv")
df12 = pd.read_csv("freqs/Dec2 30 12.csv")
df13 = pd.read_csv("freqs/Dec2 30 13.csv")
df14 = pd.read_csv("freqs/Dec2 30 14.csv")
df15 = pd.read_csv("freqs/Dec2 30 15.csv")

In [3]:
df1

,Unnamed: 0,Jeep is similar to,Subaru is similar to,Dodge is similar to,Tesla is similar to,Toyota is similar to,Honda is similar to,Nissan is similar to,Chevrolet is similar to,Hyundai is similar to,...,Lamborghini is similar to,Mercedes-Benz is similar to,BMW is similar to,Ford is similar to,Porsche is similar to,Audi is similar to,Volkswagen is similar to,Ferrari is similar to,Lexus is similar to,Volvo is similar to
0,Jeep,30,0,0,0,0,0,0,3,1,...,0,0,0,0,0,2,0,0,0,0
1,Subaru,1,20,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,Dodge,0,0,28,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,Tesla,0,0,0,29,1,2,5,5,3,...,3,0,0,0,1,2,1,0,2,3
4,Toyota,2,0,0,0,28,9,7,2,14,...,0,1,2,3,1,3,6,0,7,2
5,Honda,2,0,0,0,4,28,4,0,4,...,0,1,3,1,2,3,1,0,6,5
6,Nissan,0,0,0,1,3,2,25,1,3,...,0,0,0,1,1,2,0,0,1,3
7,Chevrolet,3,0,0,0,3,1,1,20,0,...,0,0,1,1,0,0,0,0,1,2
8,Hyundai,0,0,0,0,1,2,0,0,28,...,0,0,0,0,0,0,0,0,0,0
9,Mazda,0,0,0,0,0,2,0,0,0,...,0,0,0,1,0,2,1,0,1,0
10,Renault,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,1
11,Lamborghini,0,0,0,0,0,0,0,0,0,...,30,1,2,0,0,0,0,1,0,0
12,Mercedes-Benz,1,0,1,1,0,0,2,1,1,...,1,27,4,1,2,3,0,6,4,0
13,BMW,0,0,0,0,2,3,1,0,2,...,1,7,25,1,7,6,2,4,14,6
14,Ford,3,0,2,1,6,3,2,16,7,...,0,1,2,19,2,0,2,0,1,5
15,Porsche,0,0,0,0,0,0,1,0,0,...,2,2,1,0,21,0,0,1,3,2
16,Audi,0,0,0,0,0,0,0,0,2,...,2,3,2,0,3,22,1,0,3,0
17,Volkswagen,1,0,0,0,3,3,3,0,4,...,0,1,0,1,5,4,26,0,1,2
18,Ferrari,0,0,0,0,0,0,0,0,0,...,5,2,4,2,4,0,0,28,1,0
19,Lexus,0,0,0,0,2,0,0,0,0,...,0,1,0,0,0,0,0,0,12,0
20,Volvo,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,18

In [4]:
df2

,Unnamed: 0,Jeep is similar to,Subaru is similar to,Dodge is similar to,Tesla is similar to,Toyota is similar to,Honda is similar to,Nissan is similar to,Chevrolet is similar to,Hyundai is similar to,...,Lamborghini is similar to,Mercedes-Benz is similar to,BMW is similar to,Ford is similar to,Porsche is similar to,Audi is similar to,Volkswagen is similar to,Ferrari is similar to,Lexus is similar to,Volvo is similar to
0,Jeep,28,0,0,0,1,0,0,0,1,...,0,0,0,3,1,1,0,0,0,1
1,Subaru,0,21,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
2,Dodge,1,0,26,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Tesla,1,0,0,27,0,1,2,2,1,...,0,0,1,2,0,1,3,1,3,1
4,Toyota,3,0,0,3,27,9,7,6,12,...,0,4,1,2,2,8,2,0,5,2
5,Honda,0,0,0,0,8,29,0,3,9,...,0,0,1,2,0,5,0,1,2,3
6,Nissan,1,0,0,1,2,1,26,1,1,...,0,2,1,2,0,0,0,0,3,1
7,Chevrolet,1,0,1,1,1,0,1,23,0,...,0,0,0,1,0,1,0,0,1,1
8,Hyundai,0,0,0,0,0,0,0,0,26,...,0,0,1,0,0,0,0,0,0,0
9,Mazda,0,0,0,0,1,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
10,Renault,0,0,0,0,0,0,1,0,0,...,0,1,1,0,1,0,0,0,0,0
11,Lamborghini,0,0,0,0,0,0,0,0,0,...,27,0,1,0,0,0,0,0,0,0
12,Mercedes-Benz,0,0,0,1,0,0,1,2,1,...,2,29,4,1,1,1,1,3,3,2
13,BMW,0,0,0,2,1,3,3,1,0,...,2,10,28,1,4,8,1,1,9,5
14,Ford,4,0,0,2,10,4,6,10,6,...,0,1,2,19,4,1,3,1,1,8
15,Porsche,0,0,0,0,0,0,0,0,0,...,3,1,3,1,21,2,2,0,1,0
16,Audi,0,0,0,0,0,0,0,0,1,...,3,1,2,0,4,18,4,0,3,0
17,Volkswagen,0,0,0,0,3,1,3,2,5,...,1,3,0,1,2,5,26,0,0,2
18,Ferrari,0,0,0,0,0,0,1,0,0,...,9,1,0,2,2,0,0,26,0,0
19,Lexus,0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,1,1,0,16,0
20,Volvo,0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,1,25

In [5]:
joined = df1+df2+df3+df4+df5+df6+df7+df8+df9+df10+df11+df12+df13+df14+df15
joined

,Unnamed: 0,Jeep is similar to,Subaru is similar to,Dodge is similar to,Tesla is similar to,Toyota is similar to,Honda is similar to,Nissan is similar to,Chevrolet is similar to,Hyundai is similar to,...,Lamborghini is similar to,Mercedes-Benz is similar to,BMW is similar to,Ford is similar to,Porsche is similar to,Audi is similar to,Volkswagen is similar to,Ferrari is similar to,Lexus is similar to,Volvo is similar to
0,JeepJeepJeepJeepJeepJeepJeepJeepJeepJeepJeepJe...,415,0,6,1,10,1,2,26,8,...,9,2,3,11,3,9,15,5,0,5
1,SubaruSubaruSubaruSubaruSubaruSubaruSubaruSuba...,2,307,0,0,1,1,3,3,0,...,0,1,0,0,0,1,0,0,3,1
2,DodgeDodgeDodgeDodgeDodgeDodgeDodgeDodgeDodgeD...,18,0,398,0,0,1,2,6,1,...,0,0,0,0,1,2,0,0,0,1
3,TeslaTeslaTeslaTeslaTeslaTeslaTeslaTeslaTeslaT...,3,0,0,427,50,17,68,42,37,...,8,19,9,12,16,21,13,2,16,51
4,ToyotaToyotaToyotaToyotaToyotaToyotaToyotaToyo...,26,1,0,9,403,125,123,59,169,...,1,35,24,24,12,44,51,7,69,44
5,HondaHondaHondaHondaHondaHondaHondaHondaHondaH...,12,1,3,2,75,431,55,27,53,...,11,8,14,27,4,30,11,11,33,36
6,NissanNissanNissanNissanNissanNissanNissanNiss...,11,0,0,8,32,28,387,25,23,...,6,12,7,11,2,9,11,2,40,16
7,ChevroletChevroletChevroletChevroletChevroletC...,34,0,3,3,28,7,21,335,6,...,4,6,4,18,3,9,7,1,10,30
8,HyundaiHyundaiHyundaiHyundaiHyundaiHyundaiHyun...,7,0,0,0,6,6,3,6,388,...,1,2,3,1,0,1,2,0,4,6
9,MazdaMazdaMazdaMazdaMazdaMazdaMazdaMazdaMazdaM...,0,0,0,0,3,11,4,5,5,...,1,2,2,5,3,9,3,0,17,1
10,RenaultRenaultRenaultRenaultRenaultRenaultRena...,0,0,0,0,1,0,2,1,3,...,0,3,2,0,1,1,4,10,2,8
11,LamborghiniLamborghiniLamborghiniLamborghiniLa...,0,0,0,0,1,0,1,1,0,...,427,2,4,2,7,1,0,5,2,0
12,Mercedes-BenzMercedes-BenzMercedes-BenzMercede...,1,0,3,9,12,10,21,10,8,...,31,395,68,25,44,59,14,57,69,23
13,BMWBMWBMWBMWBMWBMWBMWBMWBMWBMWBMWBMWBMWBMWBMW,4,0,2,10,27,56,52,11,22,...,26,108,407,18,94,119,19,28,154,85
14,FordFordFordFordFordFordFordFordFordFordFordFo...,59,0,19,15,129,37,43,210,87,...,9,22,12,281,38,28,52,4,14,65
15,PorschePorschePorschePorschePorschePorschePors...,1,0,3,0,1,0,6,2,7,...,40,18,16,13,353,18,22,15,30,7
16,AudiAudiAudiAudiAudiAudiAudiAudiAudiAudiAudiAu...,0,0,0,1,1,2,9,2,6,...,44,33,25,3,28,344,45,11,43,13
17,VolkswagenVolkswagenVolkswagenVolkswagenVolksw...,5,0,0,2,50,14,48,8,38,...,5,33,16,10,47,103,350,2,7,20
18,FerrariFerrariFerrariFerrariFerrariFerrariFerr...,0,0,3,0,0,2,5,2,1,...,135,25,8,15,74,8,1,427,6,0
19,LexusLexusLexusLexusLexusLexusLexusLexusLexusL...,0,0,0,0,17,1,4,2,4,...,0,4,3,0,0,3,1,0,153,1
20,VolvoVolvoVolvoVolvoVolvoVolvoVolvoVolvoVolvoV...,0,0,0,1,0,1,3,1,2,...,0,3,1,0,0,3,2,0,1,328

In [6]:
joined['Unnamed: 0'] = df1['Unnamed: 0']

In [7]:
joined

,Unnamed: 0,Jeep is similar to,Subaru is similar to,Dodge is similar to,Tesla is similar to,Toyota is similar to,Honda is similar to,Nissan is similar to,Chevrolet is similar to,Hyundai is similar to,...,Lamborghini is similar to,Mercedes-Benz is similar to,BMW is similar to,Ford is similar to,Porsche is similar to,Audi is similar to,Volkswagen is similar to,Ferrari is similar to,Lexus is similar to,Volvo is similar to
0,Jeep,415,0,6,1,10,1,2,26,8,...,9,2,3,11,3,9,15,5,0,5
1,Subaru,2,307,0,0,1,1,3,3,0,...,0,1,0,0,0,1,0,0,3,1
2,Dodge,18,0,398,0,0,1,2,6,1,...,0,0,0,0,1,2,0,0,0,1
3,Tesla,3,0,0,427,50,17,68,42,37,...,8,19,9,12,16,21,13,2,16,51
4,Toyota,26,1,0,9,403,125,123,59,169,...,1,35,24,24,12,44,51,7,69,44
5,Honda,12,1,3,2,75,431,55,27,53,...,11,8,14,27,4,30,11,11,33,36
6,Nissan,11,0,0,8,32,28,387,25,23,...,6,12,7,11,2,9,11,2,40,16
7,Chevrolet,34,0,3,3,28,7,21,335,6,...,4,6,4,18,3,9,7,1,10,30
8,Hyundai,7,0,0,0,6,6,3,6,388,...,1,2,3,1,0,1,2,0,4,6
9,Mazda,0,0,0,0,3,11,4,5,5,...,1,2,2,5,3,9,3,0,17,1
10,Renault,0,0,0,0,1,0,2,1,3,...,0,3,2,0,1,1,4,10,2,8
11,Lamborghini,0,0,0,0,1,0,1,1,0,...,427,2,4,2,7,1,0,5,2,0
12,Mercedes-Benz,1,0,3,9,12,10,21,10,8,...,31,395,68,25,44,59,14,57,69,23
13,BMW,4,0,2,10,27,56,52,11,22,...,26,108,407,18,94,119,19,28,154,85
14,Ford,59,0,19,15,129,37,43,210,87,...,9,22,12,281,38,28,52,4,14,65
15,Porsche,1,0,3,0,1,0,6,2,7,...,40,18,16,13,353,18,22,15,30,7
16,Audi,0,0,0,1,1,2,9,2,6,...,44,33,25,3,28,344,45,11,43,13
17,Volkswagen,5,0,0,2,50,14,48,8,38,...,5,33,16,10,47,103,350,2,7,20
18,Ferrari,0,0,3,0,0,2,5,2,1,...,135,25,8,15,74,8,1,427,6,0
19,Lexus,0,0,0,0,17,1,4,2,4,...,0,4,3,0,0,3,1,0,153,1
20,Volvo,0,0,0,1,0,1,3,1,2,...,0,3,1,0,0,3,2,0,1,328

In [8]:
joined.to_csv("freqs/j Dec 2 450.csv")