In [1]:
import pandas as pd

In [29]:
df1 = pd.read_csv("freqs/j Dec 15 750.csv")
df2 = pd.read_csv("freqs/j Dec 18 750.csv")
df3 = pd.read_csv("freqs/j Dec 2 450.csv")
df4 = pd.read_csv("freqs/j Dec 22 675.csv")
df5 = pd.read_csv("freqs/j Dec 3 450.csv")
df6 = pd.read_csv("freqs/j Dec 5 750.csv")
df7 = pd.read_csv("freqs/j Jan5 900.csv")
df8 = pd.read_csv("freqs/j Jan5 600.csv")
df9 = pd.read_csv("freqs/j Dec23 900.csv")
# df1 = pd.read_csv("freqs/Dec23 60 1.csv")
# df2 = pd.read_csv("freqs/Dec23 60 2.csv")
# df3 = pd.read_csv("freqs/Dec23 60 3.csv")
# df4 = pd.read_csv("freqs/Dec23 60 4.csv")
# df5 = pd.read_csv("freqs/Dec23 60 5.csv")
# df6 = pd.read_csv("freqs/Dec23 60 6.csv")
# df7 = pd.read_csv("freqs/Dec23 60 7.csv")
# df8 = pd.read_csv("freqs/Dec23 60 8.csv")
# df9 = pd.read_csv("freqs/Dec23 60 9.csv")
# df10 = pd.read_csv("freqs/Dec23 60 10.csv")
# df11 = pd.read_csv("freqs/Dec23 60 11.csv")
# df12 = pd.read_csv("freqs/Dec23 60 12.csv")
# df13 = pd.read_csv("freqs/Dec23 60 13.csv")
# df14 = pd.read_csv("freqs/Dec23 60 14.csv")
# df15 = pd.read_csv("freqs/Dec23 60 15.csv")

In [30]:
df1

,Unnamed: 0,Unnamed: 0.1,Jeep is similar to,Subaru is similar to,Dodge is similar to,Tesla is similar to,Toyota is similar to,Honda is similar to,Nissan is similar to,Chevrolet is similar to,...,Lamborghini is similar to,Mercedes-Benz is similar to,BMW is similar to,Ford is similar to,Porsche is similar to,Audi is similar to,Volkswagen is similar to,Ferrari is similar to,Lexus is similar to,Volvo is similar to
0,0,Jeep,668,0,11,3,15,3,8,45,...,4,5,2,11,5,12,11,17,3,9
1,1,Subaru,2,491,0,0,4,1,5,1,...,0,1,1,1,2,2,1,0,10,3
2,2,Dodge,35,0,664,0,0,0,1,13,...,0,0,0,3,0,2,0,0,1,3
3,3,Tesla,7,0,1,721,73,29,103,61,...,11,28,20,29,19,26,27,4,24,115
4,4,Toyota,43,0,7,11,632,191,224,117,...,3,53,31,36,23,48,74,2,127,82
5,5,Honda,22,0,6,5,115,711,80,48,...,30,14,23,47,21,52,25,28,72,58
6,6,Nissan,12,0,3,16,47,56,675,43,...,2,11,18,21,9,20,13,2,49,24
7,7,Chevrolet,71,0,12,6,29,21,31,555,...,9,7,9,34,5,20,9,1,13,33
8,8,Hyundai,8,0,2,4,9,19,15,12,...,0,4,7,3,2,5,8,0,10,12
9,9,Mazda,4,0,2,2,11,11,7,12,...,4,4,9,12,3,13,4,1,26,2
10,10,Renault,1,0,0,0,3,1,12,1,...,2,5,8,3,5,3,5,13,8,17
11,11,Lamborghini,3,0,2,0,0,1,0,0,...,727,1,1,3,13,3,1,15,1,2
12,12,Mercedes-Benz,6,0,7,15,20,26,27,20,...,60,664,114,23,70,84,24,89,127,42
13,13,BMW,13,0,5,20,29,97,79,29,...,58,166,660,33,154,196,34,22,258,128
14,14,Ford,110,0,27,23,224,53,61,337,...,6,41,14,461,65,46,74,4,34,101
15,15,Porsche,8,0,5,2,4,4,23,8,...,69,35,26,17,605,34,57,22,27,14
16,16,Audi,2,0,1,2,4,4,10,8,...,56,57,50,8,50,592,101,12,52,20
17,17,Volkswagen,14,0,0,6,77,19,70,39,...,2,62,21,11,71,188,593,1,19,33
18,18,Ferrari,0,0,2,0,2,2,13,2,...,246,40,13,36,147,13,3,703,3,2
19,19,Lexus,1,0,0,0,27,4,6,4,...,3,8,2,3,2,3,2,0,261,4
20,20,Volvo,0,0,0,3,3,1,1,2,...,0,2,0,0,0,2,4,0,0,561

In [31]:
df2

,Unnamed: 0,Unnamed: 0.1,Jeep is similar to,Subaru is similar to,Dodge is similar to,Tesla is similar to,Toyota is similar to,Honda is similar to,Nissan is similar to,Chevrolet is similar to,...,Lamborghini is similar to,Mercedes-Benz is similar to,BMW is similar to,Ford is similar to,Porsche is similar to,Audi is similar to,Volkswagen is similar to,Ferrari is similar to,Lexus is similar to,Volvo is similar to
0,0,Jeep,671,0,14,4,8,3,4,48,...,4,13,3,9,8,6,20,18,6,11
1,1,Subaru,2,487,0,1,1,0,3,2,...,0,1,0,3,0,0,0,0,11,8
2,2,Dodge,28,0,653,0,0,1,0,13,...,1,1,1,10,1,0,2,0,1,5
3,3,Tesla,5,0,0,727,72,28,76,62,...,5,32,15,33,24,36,31,3,30,105
4,4,Toyota,52,1,2,17,641,202,232,99,...,5,50,27,47,14,46,78,5,121,98
5,5,Honda,16,0,1,9,113,718,89,37,...,23,13,26,44,11,46,17,22,63,65
6,6,Nissan,24,0,0,19,51,47,670,39,...,5,6,11,18,8,14,7,3,62,34
7,7,Chevrolet,68,0,13,7,33,20,25,562,...,3,8,8,35,6,18,12,1,14,48
8,8,Hyundai,10,0,2,4,10,18,19,9,...,0,2,3,2,1,6,4,0,8,13
9,9,Mazda,1,0,2,0,14,8,5,13,...,5,1,4,9,2,8,4,2,36,7
10,10,Renault,0,0,0,0,3,3,14,0,...,1,6,3,2,3,7,2,13,5,8
11,11,Lamborghini,1,0,0,0,1,0,1,1,...,731,3,5,0,14,3,0,7,5,1
12,12,Mercedes-Benz,9,0,1,16,18,20,27,27,...,72,650,112,26,71,90,28,100,130,43
13,13,BMW,5,0,0,17,34,83,75,27,...,57,175,677,33,152,217,45,36,245,124
14,14,Ford,107,0,25,27,224,69,68,311,...,13,38,24,460,64,36,74,7,36,98
15,15,Porsche,5,0,6,4,5,2,11,5,...,64,40,39,21,600,30,44,35,38,13
16,16,Audi,3,0,0,2,5,3,13,4,...,51,41,39,7,50,589,113,16,61,20
17,17,Volkswagen,8,0,1,5,82,12,51,30,...,2,56,18,10,81,149,604,2,11,38
18,18,Ferrari,2,0,2,0,1,2,13,2,...,267,40,15,29,138,11,2,701,8,3
19,19,Lexus,0,0,0,1,21,3,3,0,...,7,6,4,1,0,3,2,0,239,4
20,20,Volvo,3,0,0,2,4,1,3,2,...,0,1,2,4,1,1,3,0,1,550

In [32]:
joined = df1+df2+df3+df4+df5+df6+df7+df8+df9
joined

,Unnamed: 0,Unnamed: 0.1,Jeep is similar to,Subaru is similar to,Dodge is similar to,Tesla is similar to,Toyota is similar to,Honda is similar to,Nissan is similar to,Chevrolet is similar to,...,Lamborghini is similar to,Mercedes-Benz is similar to,BMW is similar to,Ford is similar to,Porsche is similar to,Audi is similar to,Volkswagen is similar to,Ferrari is similar to,Lexus is similar to,Volvo is similar to
0,0,JeepJeepJeepJeepJeepJeepJeepJeepJeep,5606,0,92,23,120,28,41,366,...,50,61,31,86,46,92,137,108,23,57
1,9,SubaruSubaruSubaruSubaruSubaruSubaruSubaruSuba...,13,4091,1,2,24,10,46,16,...,5,5,9,9,6,16,9,2,100,26
2,18,DodgeDodgeDodgeDodgeDodgeDodgeDodgeDodgeDodge,270,0,5488,0,6,7,5,105,...,5,8,10,45,4,11,7,3,11,15
3,27,TeslaTeslaTeslaTeslaTeslaTeslaTeslaTeslaTesla,42,0,4,5940,627,196,765,491,...,77,252,149,221,172,254,290,44,222,903
4,36,ToyotaToyotaToyotaToyotaToyotaToyotaToyotaToyo...,352,9,35,131,5357,1595,1799,840,...,44,457,235,317,172,465,640,47,1061,653
5,45,HondaHondaHondaHondaHondaHondaHondaHondaHonda,177,8,36,57,962,5932,690,400,...,211,123,206,362,103,386,167,197,536,465
6,54,NissanNissanNissanNissanNissanNissanNissanNiss...,116,2,6,118,480,404,5504,307,...,35,82,103,168,59,148,89,30,490,215
7,63,ChevroletChevroletChevroletChevroletChevroletC...,522,0,84,60,296,133,259,4562,...,51,70,57,301,52,125,102,13,114,327
8,72,HyundaiHyundaiHyundaiHyundaiHyundaiHyundaiHyun...,77,0,13,16,94,114,141,86,...,5,25,28,21,9,29,43,3,51,82
9,81,MazdaMazdaMazdaMazdaMazdaMazdaMazdaMazdaMazda,11,3,14,4,93,116,73,101,...,23,20,38,104,30,74,43,11,213,35
10,90,RenaultRenaultRenaultRenaultRenaultRenaultRena...,2,0,0,1,17,8,81,9,...,7,37,39,8,23,51,34,112,45,96
11,99,LamborghiniLamborghiniLamborghiniLamborghiniLa...,5,1,11,3,3,5,10,5,...,6008,27,26,25,110,27,4,81,31,8
12,108,Mercedes-BenzMercedes-BenzMercedes-BenzMercede...,49,1,38,116,183,209,260,188,...,526,5449,910,233,542,728,204,808,1067,354
13,117,BMWBMWBMWBMWBMWBMWBMWBMWBMW,81,0,22,118,277,772,730,202,...,515,1365,5574,256,1273,1784,272,275,2076,1069
14,126,FordFordFordFordFordFordFordFordFord,850,4,216,208,1869,473,606,2754,...,96,315,167,3946,541,373,683,53,260,837
15,135,PorschePorschePorschePorschePorschePorschePors...,40,0,61,12,27,32,138,48,...,537,261,270,175,5050,268,365,211,291,90
16,144,AudiAudiAudiAudiAudiAudiAudiAudiAudi,20,0,5,17,51,33,99,35,...,425,463,340,67,456,4864,764,108,474,182
17,153,VolkswagenVolkswagenVolkswagenVolkswagenVolksw...,77,0,6,34,685,123,576,239,...,31,474,185,123,607,1297,4865,18,112,277
18,162,FerrariFerrariFerrariFerrariFerrariFerrariFerr...,5,0,32,5,14,33,93,17,...,1977,335,119,236,1180,111,22,5832,90,13
19,171,LexusLexusLexusLexusLexusLexusLexusLexusLexus,6,1,5,7,195,26,41,44,...,16,47,21,15,10,28,20,3,2066,20
20,180,VolvoVolvoVolvoVolvoVolvoVolvoVolvoVolvoVolvo,14,0,0,13,15,10,21,13,...,3,18,14,8,6,28,22,1,8,4592

In [37]:
joined['Unnamed: 0.1'] = df1['Unnamed: 0.1']

In [38]:
joined

,Unnamed: 0,Unnamed: 0.1,Jeep is similar to,Subaru is similar to,Dodge is similar to,Tesla is similar to,Toyota is similar to,Honda is similar to,Nissan is similar to,Chevrolet is similar to,...,Lamborghini is similar to,Mercedes-Benz is similar to,BMW is similar to,Ford is similar to,Porsche is similar to,Audi is similar to,Volkswagen is similar to,Ferrari is similar to,Lexus is similar to,Volvo is similar to
0,0,Jeep,5606,0,92,23,120,28,41,366,...,50,61,31,86,46,92,137,108,23,57
1,1,Subaru,13,4091,1,2,24,10,46,16,...,5,5,9,9,6,16,9,2,100,26
2,2,Dodge,270,0,5488,0,6,7,5,105,...,5,8,10,45,4,11,7,3,11,15
3,3,Tesla,42,0,4,5940,627,196,765,491,...,77,252,149,221,172,254,290,44,222,903
4,4,Toyota,352,9,35,131,5357,1595,1799,840,...,44,457,235,317,172,465,640,47,1061,653
5,5,Honda,177,8,36,57,962,5932,690,400,...,211,123,206,362,103,386,167,197,536,465
6,6,Nissan,116,2,6,118,480,404,5504,307,...,35,82,103,168,59,148,89,30,490,215
7,7,Chevrolet,522,0,84,60,296,133,259,4562,...,51,70,57,301,52,125,102,13,114,327
8,8,Hyundai,77,0,13,16,94,114,141,86,...,5,25,28,21,9,29,43,3,51,82
9,9,Mazda,11,3,14,4,93,116,73,101,...,23,20,38,104,30,74,43,11,213,35
10,10,Renault,2,0,0,1,17,8,81,9,...,7,37,39,8,23,51,34,112,45,96
11,11,Lamborghini,5,1,11,3,3,5,10,5,...,6008,27,26,25,110,27,4,81,31,8
12,12,Mercedes-Benz,49,1,38,116,183,209,260,188,...,526,5449,910,233,542,728,204,808,1067,354
13,13,BMW,81,0,22,118,277,772,730,202,...,515,1365,5574,256,1273,1784,272,275,2076,1069
14,14,Ford,850,4,216,208,1869,473,606,2754,...,96,315,167,3946,541,373,683,53,260,837
15,15,Porsche,40,0,61,12,27,32,138,48,...,537,261,270,175,5050,268,365,211,291,90
16,16,Audi,20,0,5,17,51,33,99,35,...,425,463,340,67,456,4864,764,108,474,182
17,17,Volkswagen,77,0,6,34,685,123,576,239,...,31,474,185,123,607,1297,4865,18,112,277
18,18,Ferrari,5,0,32,5,14,33,93,17,...,1977,335,119,236,1180,111,22,5832,90,13
19,19,Lexus,6,1,5,7,195,26,41,44,...,16,47,21,15,10,28,20,3,2066,20
20,20,Volvo,14,0,0,13,15,10,21,13,...,3,18,14,8,6,28,22,1,8,4592

In [39]:
joined.to_csv("freqs/j Feb16 6225.csv")

In [16]:
40*15

600

In [36]:
df1.shape

(21, 23)