In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("freqs/Dec22 45 1.csv")
df2 = pd.read_csv("freqs/Dec22 45 2.csv")
df3 = pd.read_csv("freqs/Dec22 45 3.csv")
df4 = pd.read_csv("freqs/Dec22 45 4.csv")
df5 = pd.read_csv("freqs/Dec22 45 5.csv")
df6 = pd.read_csv("freqs/Dec22 45 6.csv")
df7 = pd.read_csv("freqs/Dec22 45 7.csv")
df8 = pd.read_csv("freqs/Dec22 45 8.csv")
df9 = pd.read_csv("freqs/Dec22 45 9.csv")
df10 = pd.read_csv("freqs/Dec22 45 10.csv")
df11 = pd.read_csv("freqs/Dec22 45 11.csv")
df12 = pd.read_csv("freqs/Dec22 45 12.csv")
df13 = pd.read_csv("freqs/Dec22 45 13.csv")
df14 = pd.read_csv("freqs/Dec22 45 14.csv")
df15 = pd.read_csv("freqs/Dec22 45 15.csv")

In [3]:
df1

,Unnamed: 0,Jeep is similar to,Subaru is similar to,Dodge is similar to,Tesla is similar to,Toyota is similar to,Honda is similar to,Nissan is similar to,Chevrolet is similar to,Hyundai is similar to,...,Lamborghini is similar to,Mercedes-Benz is similar to,BMW is similar to,Ford is similar to,Porsche is similar to,Audi is similar to,Volkswagen is similar to,Ferrari is similar to,Lexus is similar to,Volvo is similar to
0,Jeep,43,0,1,0,0,0,0,2,0,...,0,2,0,0,0,0,1,1,0,0
1,Subaru,0,30,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Dodge,0,0,39,0,0,0,0,2,0,...,0,0,0,0,0,0,0,0,0,0
3,Tesla,0,0,0,43,3,0,6,7,3,...,1,3,0,3,0,2,3,1,1,10
4,Toyota,2,0,0,2,37,16,12,9,17,...,0,6,2,3,2,2,2,0,4,4
5,Honda,2,0,0,1,3,42,2,2,3,...,2,1,1,0,0,0,1,0,1,2
6,Nissan,1,0,0,1,3,4,41,5,5,...,0,0,1,1,0,0,0,0,4,3
7,Chevrolet,3,0,1,0,1,0,1,34,1,...,0,0,1,1,0,0,0,0,1,1
8,Hyundai,2,0,0,0,2,1,0,0,36,...,0,0,0,0,0,0,0,0,1,0
9,Mazda,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
10,Renault,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,1,0
11,Lamborghini,0,0,0,0,0,0,0,0,0,...,44,0,0,0,1,0,0,1,0,0
12,Mercedes-Benz,0,0,1,0,1,1,3,2,1,...,7,40,5,3,3,5,5,8,8,3
13,BMW,0,0,0,1,0,4,8,2,2,...,6,11,44,0,8,17,4,3,14,10
14,Ford,4,0,3,1,16,1,3,19,12,...,2,2,1,28,4,1,3,1,4,7
15,Porsche,0,0,0,0,0,0,3,0,0,...,2,1,1,1,37,3,2,3,1,1
16,Audi,0,0,0,0,0,0,1,0,1,...,2,3,0,0,5,36,7,0,5,1
17,Volkswagen,0,0,0,0,5,0,9,3,5,...,0,4,0,0,6,12,37,1,0,1
18,Ferrari,0,0,0,0,0,0,3,0,0,...,13,2,0,2,9,0,0,43,0,0
19,Lexus,0,0,0,0,2,1,0,1,0,...,0,0,0,0,0,1,0,0,11,0
20,Volvo,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,32

In [4]:
df2

,Unnamed: 0,Jeep is similar to,Subaru is similar to,Dodge is similar to,Tesla is similar to,Toyota is similar to,Honda is similar to,Nissan is similar to,Chevrolet is similar to,Hyundai is similar to,...,Lamborghini is similar to,Mercedes-Benz is similar to,BMW is similar to,Ford is similar to,Porsche is similar to,Audi is similar to,Volkswagen is similar to,Ferrari is similar to,Lexus is similar to,Volvo is similar to
0,Jeep,42,0,1,0,0,0,1,3,0,...,0,0,0,0,1,3,2,0,0,0
1,Subaru,0,25,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
2,Dodge,3,0,38,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,Tesla,1,0,0,39,11,0,2,6,5,...,1,2,1,1,0,1,0,1,3,7
4,Toyota,0,0,0,0,40,10,17,8,12,...,0,1,3,3,3,5,5,0,8,5
5,Honda,0,0,0,1,5,43,9,3,0,...,3,1,0,1,1,5,1,0,5,5
6,Nissan,0,0,0,1,4,4,36,1,0,...,1,0,1,2,0,2,1,0,1,2
7,Chevrolet,4,0,0,1,7,1,2,33,1,...,1,0,0,2,0,1,2,0,0,2
8,Hyundai,1,0,0,0,1,1,0,0,38,...,0,0,0,0,1,1,0,0,0,2
9,Mazda,0,0,0,0,0,0,1,0,1,...,0,0,0,2,0,0,1,0,1,0
10,Renault,0,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,2,1,0,0
11,Lamborghini,0,0,0,0,0,0,0,0,0,...,44,0,0,0,2,0,0,0,0,0
12,Mercedes-Benz,0,0,0,0,0,3,0,3,0,...,3,41,8,1,6,2,2,6,7,2
13,BMW,0,0,0,0,2,9,6,2,2,...,1,7,40,2,13,9,3,1,17,7
14,Ford,3,0,1,1,12,4,1,19,12,...,0,2,2,29,5,5,3,0,1,4
15,Porsche,1,0,1,0,0,0,1,0,0,...,3,0,3,3,35,1,2,2,0,0
16,Audi,0,0,0,1,0,0,2,1,0,...,1,4,4,1,3,36,4,1,3,2
17,Volkswagen,0,0,0,1,2,1,5,2,0,...,0,1,4,2,8,12,35,0,1,5
18,Ferrari,0,0,0,0,0,1,0,0,0,...,15,0,1,2,8,1,0,45,1,1
19,Lexus,0,0,0,0,1,0,1,2,0,...,0,0,0,1,0,1,0,0,16,0
20,Volvo,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,33

In [5]:
joined = df1+df2+df3+df4+df5+df6+df7+df8+df9+df10+df11+df12+df13+df14+df15
joined

,Unnamed: 0,Jeep is similar to,Subaru is similar to,Dodge is similar to,Tesla is similar to,Toyota is similar to,Honda is similar to,Nissan is similar to,Chevrolet is similar to,Hyundai is similar to,...,Lamborghini is similar to,Mercedes-Benz is similar to,BMW is similar to,Ford is similar to,Porsche is similar to,Audi is similar to,Volkswagen is similar to,Ferrari is similar to,Lexus is similar to,Volvo is similar to
0,JeepJeepJeepJeepJeepJeepJeepJeepJeepJeepJeepJe...,606,0,13,1,10,3,7,33,8,...,4,7,3,8,12,19,18,9,1,3
1,SubaruSubaruSubaruSubaruSubaruSubaruSubaruSuba...,0,417,0,1,2,1,6,2,0,...,1,1,0,0,1,1,2,0,9,3
2,DodgeDodgeDodgeDodgeDodgeDodgeDodgeDodgeDodgeD...,33,0,616,0,1,1,1,15,0,...,1,2,2,4,1,1,2,0,1,1
3,TeslaTeslaTeslaTeslaTeslaTeslaTeslaTeslaTeslaT...,7,0,1,638,64,15,84,71,62,...,14,26,17,25,21,29,22,6,25,95
4,ToyotaToyotaToyotaToyotaToyotaToyotaToyotaToyo...,31,0,4,13,581,168,199,105,218,...,8,51,26,44,21,56,76,5,114,50
5,HondaHondaHondaHondaHondaHondaHondaHondaHondaH...,16,1,3,10,99,644,72,46,74,...,23,19,25,31,12,51,16,12,61,44
6,NissanNissanNissanNissanNissanNissanNissanNiss...,13,0,0,11,56,46,611,32,23,...,5,10,8,19,7,20,7,3,47,20
7,ChevroletChevroletChevroletChevroletChevroletC...,56,0,14,13,35,13,21,485,11,...,7,6,7,26,8,14,21,1,10,34
8,HyundaiHyundaiHyundaiHyundaiHyundaiHyundaiHyun...,11,0,1,2,13,10,9,12,553,...,1,2,2,1,2,2,5,0,4,7
9,MazdaMazdaMazdaMazdaMazdaMazdaMazdaMazdaMazdaM...,0,0,5,1,13,15,9,9,6,...,1,0,2,18,4,7,7,1,18,3
10,RenaultRenaultRenaultRenaultRenaultRenaultRena...,0,0,0,1,3,1,12,0,1,...,1,4,1,0,0,2,6,14,5,10
11,LamborghiniLamborghiniLamborghiniLamborghiniLa...,0,0,0,0,0,0,1,2,0,...,651,3,0,4,12,4,1,8,1,0
12,Mercedes-BenzMercedes-BenzMercedes-BenzMercede...,4,0,4,11,16,25,30,22,18,...,63,604,91,25,46,69,28,102,126,38
13,BMWBMWBMWBMWBMWBMWBMWBMWBMWBMWBMWBMWBMWBMWBMW,8,0,3,8,26,79,86,20,35,...,56,150,606,13,124,189,36,35,231,99
14,FordFordFordFordFordFordFordFordFordFordFordFo...,90,1,23,17,212,57,68,290,141,...,8,27,17,442,61,60,75,5,29,96
15,PorschePorschePorschePorschePorschePorschePors...,5,0,6,0,6,4,12,4,2,...,53,25,34,23,557,23,29,22,29,9
16,AudiAudiAudiAudiAudiAudiAudiAudiAudiAudiAudiAu...,3,0,1,2,10,5,11,5,9,...,40,57,38,6,59,516,76,10,45,21
17,VolkswagenVolkswagenVolkswagenVolkswagenVolksw...,4,0,1,3,74,16,65,26,55,...,2,40,14,13,74,133,514,1,16,34
18,FerrariFerrariFerrariFerrariFerrariFerrariFerr...,0,0,1,0,1,4,13,2,5,...,205,24,10,34,127,12,2,634,12,1
19,LexusLexusLexusLexusLexusLexusLexusLexusLexusL...,1,0,1,1,20,4,7,8,2,...,0,5,3,1,0,3,6,0,225,0
20,VolvoVolvoVolvoVolvoVolvoVolvoVolvoVolvoVolvoV...,2,0,0,3,1,1,2,0,2,...,0,2,2,0,0,2,4,0,3,510

In [6]:
joined['Unnamed: 0'] = df1['Unnamed: 0']

In [7]:
joined

,Unnamed: 0,Jeep is similar to,Subaru is similar to,Dodge is similar to,Tesla is similar to,Toyota is similar to,Honda is similar to,Nissan is similar to,Chevrolet is similar to,Hyundai is similar to,...,Lamborghini is similar to,Mercedes-Benz is similar to,BMW is similar to,Ford is similar to,Porsche is similar to,Audi is similar to,Volkswagen is similar to,Ferrari is similar to,Lexus is similar to,Volvo is similar to
0,Jeep,606,0,13,1,10,3,7,33,8,...,4,7,3,8,12,19,18,9,1,3
1,Subaru,0,417,0,1,2,1,6,2,0,...,1,1,0,0,1,1,2,0,9,3
2,Dodge,33,0,616,0,1,1,1,15,0,...,1,2,2,4,1,1,2,0,1,1
3,Tesla,7,0,1,638,64,15,84,71,62,...,14,26,17,25,21,29,22,6,25,95
4,Toyota,31,0,4,13,581,168,199,105,218,...,8,51,26,44,21,56,76,5,114,50
5,Honda,16,1,3,10,99,644,72,46,74,...,23,19,25,31,12,51,16,12,61,44
6,Nissan,13,0,0,11,56,46,611,32,23,...,5,10,8,19,7,20,7,3,47,20
7,Chevrolet,56,0,14,13,35,13,21,485,11,...,7,6,7,26,8,14,21,1,10,34
8,Hyundai,11,0,1,2,13,10,9,12,553,...,1,2,2,1,2,2,5,0,4,7
9,Mazda,0,0,5,1,13,15,9,9,6,...,1,0,2,18,4,7,7,1,18,3
10,Renault,0,0,0,1,3,1,12,0,1,...,1,4,1,0,0,2,6,14,5,10
11,Lamborghini,0,0,0,0,0,0,1,2,0,...,651,3,0,4,12,4,1,8,1,0
12,Mercedes-Benz,4,0,4,11,16,25,30,22,18,...,63,604,91,25,46,69,28,102,126,38
13,BMW,8,0,3,8,26,79,86,20,35,...,56,150,606,13,124,189,36,35,231,99
14,Ford,90,1,23,17,212,57,68,290,141,...,8,27,17,442,61,60,75,5,29,96
15,Porsche,5,0,6,0,6,4,12,4,2,...,53,25,34,23,557,23,29,22,29,9
16,Audi,3,0,1,2,10,5,11,5,9,...,40,57,38,6,59,516,76,10,45,21
17,Volkswagen,4,0,1,3,74,16,65,26,55,...,2,40,14,13,74,133,514,1,16,34
18,Ferrari,0,0,1,0,1,4,13,2,5,...,205,24,10,34,127,12,2,634,12,1
19,Lexus,1,0,1,1,20,4,7,8,2,...,0,5,3,1,0,3,6,0,225,0
20,Volvo,2,0,0,3,1,1,2,0,2,...,0,2,2,0,0,2,4,0,3,510

In [9]:
joined.to_csv("freqs/j Dec 22 675.csv")

In [8]:
45*15

675